body.about .marketing h1 {
    margin: 0px 0 10px;
    font-size: 45px;
    font-weight: 200;
    line-height: 1;
    letter-spacing: -1px;
}
body.about .marketing h3 {
    margin: 0px 0 10px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0px;
}
body.about .hero-unit {
	padding-top: 1em;
	padding-bottom: 1em;
}

body.about .green {
    color: #468847;
}

body.about .red {
    color: #b94a48;
}

body.about .blue {
    color: #3a87ad;
}

body.about .yellow {
    color: rgb(224, 224, 4);
}

body.about .smaller {
    font-size: 150%;
}

body.about .row-fluid p a {
    border-bottom: 1px dotted;
}

body.about a:hover {
    text-decoration: none;
}

@media (max-width: 550px) {
	body.about .hero-unit {
		margin-bottom: 0em;
	}
	body.about .marketing .row-fluid span h3 {
		margin-top: .75em;
	}
}

