/* letter list
 */

/* TODO: move the letters and pagination to a general CSS file */


.browse_page ul.letters {
    list-style-type: none;
    margin: 0 0 0 0;
    width: 100%;
    border-right: 3px double #BBB;
}

.browse_page .letters li, .letters li a {
    width: 100%;
}

.browse_page .letters li a {
    display: block;
    font-size: 150%;
    text-align: center;
    height: 1em;
    width: 1em;
    margin: .5em auto;
    font-weight: 300;
    color: #444;
}

.browse_page .letters .li a:hover {
    text-decoration: none;
}

.browse_page .letters li.no_entries a {
    color: #999;
}

@media (max-width: 765px) {
    .browse_page ul.letters {
        background-color: #FFF;
        border-right: none;
    }

    .browse_page ul.letters.scrolled {
        box-shadow: 2px 2px 4px #999;
    }

    .browse_page ul.letters li {
    }
}

/* pagination
 */

.browse_page .pagination {
    margin: 0 auto;
    padding: 0 0 0 0;
    height: 2em;
    display: block;
    position: relative;
    width: 80%;
}

.browse_page .pagination.upper {
    width: 100%;
    margin-bottom: 2em;
    border-bottom: 1px solid #CCC;
}

.browse_page .pagination a {
    display: block;
    width: 50%;
    height: 1.5em;
    float: left;
    text-align: center;
}

.browse_page #word-select ul li a {
    font-size: 1.2em;
}

.browse_page .fill-rows {
    position: fixed;
    top: 3em;
    bottom: 0px;
    left: 0;
    display: block;
    overflow: scroll;
    min-width: 868px;
}

.browse_page #left_nav {
    position: absolute;
    overflow-y: scroll;
    top: 0px;
    left: 2%;
    bottom: 0px;
    width: 22%;
}

.browse_page #letter-select {
    position: absolute;
    overflow-y: scroll;
    top: 0px;
    bottom: 0px;
    width: 7%;
}

.browse_page #letter-select .scroll_down_arrow {
    position: fixed;
    bottom: 3%;
    left: 1%;
    opacity: .5;
}

.browse_page #word-select {
    position: absolute;
    overflow-y: scroll;
    top: 0px;
    bottom: 0px;
    left: 7%;
    padding-left: 2%;
    padding-right: 1%;
    width: 12%;
}

.browse_page #letter-select {
    background-color: #DDD;
}

.browse_page #word-select {
    background-color: #EEE;
    border-right: 1px solid #CCC;
}


.browse_page #fixed-content-area {
    position: absolute;
    overflow-y: scroll;
    left: 24%;
    width: 60%;
    top: 0px;
    bottom: 0px;
    padding-top: .75em;
}

.browse_page #fixed-content-area .dict_title {
    width: 97%;
    text-align: right;
    font-weight: 300;
    font-size: 120%;
    font-style: italic;
}

.browse_page #about-browse {
    position: absolute;
    overflow-y: scroll;
    left: 84%;
    width: 16%;
    top: 0px;
    bottom: 0px;
    padding-top: 2em;
    border-left: 1px solid #EEE;
}

.fill-row {
}

.browse_page footer {
    display: none;
}

.browse_page .dropdown-menu {
    z-index: 7;
}


.browse_page #word-select ul {
    list-style-type: none;
    margin: .75em 0 0 0;
    padding: 0 0 0 0;
}

.browse_page #word-select ul li {
    display: block;
    line-height: 1.2em;
    width: 100%;
    padding-bottom: 7px;
    text-indent: -8px;
    margin-left: 8px;
    text-overflow: ellipsis;
}

.browse_page #word-select ul li {
}

/* TODO: */

.browse_page #left_nav_show {
}

.browse_page #left_nav_show a {
    size: 350%;
}

.browse_page .navbar, .browse_page .navbar-inner {
    background-color: #FFF;
    background-image: none;
    box-shadow: none;
}

.browse_page a.brand {
    color: #555 !important;
}

.browse_page .nav {
    opacity: .6;
}

.browse_page #left_nav, .browse_page #left_nav .nav {
    opacity: 1 !important;
    background: #FFF;
    z-index: 7;
}

/*
 *  expanded detail view
 */ 

#fixed-content-area.detail-visible {
  position: absolute;
  overflow-y: scroll;
  left: 24%;
  width: 30%;
  border-right: 3px solid #CCC;
}

div#word-detail {
    position: absolute;
    left: 59%;
    width: 41%;
    padding-top: 2em;
    padding-left: 0px;
    margin-left: 0px;
}
