/* @override 
	http://localhost:5000/static/css/detail.css
	http://digitesting.oahpa.no/static/css/detail.css
*/

.word_detail .dl-horizontal dt {
  text-overflow: no;
}

.word_detail div.lexeme {
    border-bottom: 5px solid #EEE;
    margin-bottom: 15px;
}

.word_detail .well dd {
    word-wrap: break-word;
}

.word_detail .miniparadigm dd {
    white-space: nowrap;
}

.word_detail ul.meanings {
    list-style-type: circle;
}

.word_detail .meanings li {
    font-size: 120%;
}

.word_detail .meanings li {
	color: #000;
}

.word_detail dl.miniparadigm {
	margin-left: 1em;
}

.word_detail dl.miniparadigm dd {
	position: relative;
}

.word_detail dl dd .extraexpand .extralabel {
	position: absolute;
	right: -100px;
	top: 0px;
}


.word_detail dl.miniparadigm dt {
	font-size: 90%;
	font-weight: light;
	letter-spacing: -px;
}

.word_detail .extralabel {
	display: none;
}

.word_detail .extra_forms {
	display: none;
}

.word_detail dl.possible_analyses dd {
	margin-left: 0;
	padding-left: 0;
}

.word_detail ul.possible_forms {
	list-style-type: none; 
	margin-left: 0em;
}

.word_detail ul.possible_forms li {
	margin-left: 0;
}

.word_detail .miniparadigm .loading_spinner {
    display: none;
}

.word_detail .miniparadigm.loading {
    background-color: #EEE;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    display: block;
    width: 15em;
    overflow: hidden;
}

.word_detail .miniparadigm.loading .loading_spinner {
    padding-top: .75em;
    display: block;
}

.word_detail .miniparadigm.loading .loading_spinner p {
	display: block;
    width: 100%;
    text-align: center;
    line-height: 2.5em;
}

@media (max-width: 500px) {
	.word_detail .miniparadigm {
		position: relative;
		left: -10px;
		margin-top: 1.5em;
		padding: 0 0 0 0;
		font-size: 8.1pt;
	}

}

@media (max-width: 550px) and (min-width: 501px) {
	.word_detail .lexeme p.lead {
		margin-bottom: .5em;
	}
	
	.word_detail .meanings {
		margin-left: 2.5em;
	}
	
	/* Fix display of mini-paradigm for mobile width */
	.word_detail .lexeme > div {
		position: inherit;
	}
	
	.word_detail .miniparadigm {
		position: relative;
		left: -10px;
		margin-top: 1.5em;
		padding: 0 0 0 0;
	}

    .word_detail .visible-phone .miniparadigm dd {
        float: left;
        text-align: left;
        margin-left: 0px;
    }
	
	.word_detail .dl-horizontal dt {
    	float: left;
    	width: auto;
    	clear: none;
    	text-align: left;
	}
  
	.word_detail .dl-horizontal dd {
		margin-left: 11em;
	}
	
	.word_detail form#neahttadigisanit input[type="text"] {
		max-width: 8em;
	}
}

.word_detail .visible-phone dl.dl-horizontal.miniparadigm {
    overflow: hidden;
}

.word_detail .visible-phone dl.dl-horizontal.miniparadigm dd {
    width: 100%;
    overflow: word-wrap;
    
}

.word_detail .visible-phone dl.dl-horizontal.miniparadigm dt {
    width: 100%;
    word-wrap: break-word;
    white-space: nowrap;
    float: none;    
    margin-top: .5em;
}
