.footer {
    height: 550px;
}

.miniparadigm table td {
    white-space: pre-line;
}

.miniparadigm [colspan] {
    text-align: center;
}

/* {{{ footer.template logos */
#logos img {
    padding-top: .5em;
    position: relative;
    margin: 0 auto;
    margin-left: 20px;
}

.partners {
    display: block;
    list-style-type: none;
    margin: 0 auto;
}

.partners-desktop {
    width: 660px;
    height: 300px;
}

.partners li {
    display: block;
    margin: 0 0 0 0;
    padding: 0 10px;
}

.partners-desktop li {
    float: left;
    width: 200px;
}

.partners .center_text {
    display: block;
}

.partners-desktop .lead {
    font-size: 18px !important;
    line-height: 24px !important;

}

.partners-desktop #fnuclogo {
    margin-left: 25px;
}

.partners-desktop #ualogo {
    margin-top: 50px;
}

.partners-mobile #fnuclogo {
    margin-top: 10px;
}

.partners-mobile #ualogo {
    margin-top: 5px;
    margin-bottom: 15px;
    width: 75%;
}

/* end footer.template logos }}} */

.lexeme .entry_stem {
    font-style: italic;
    font-size: 90%;
    margin-left: 2em;
    color: #333;
}



/* @group last_searches */
#last_searches {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    margin-top: -1em;
    margin-bottom: .75em;
    margin-left: .25em;
    width: 60%;
}

#last_searches li {
    display: table-cell;
    font-size: 90%;
    padding-right: 5px;
}

/* @group */

a.korp_search.lemma_action {
    margin-left: 0;
    text-align: right;
    margin-right: 0;
    right: 0px;
    position: relative;
    display: block;
    font-size: 100%;
}

.audio-links {
    display: block;
    margin-bottom: .75em;
}

.audio-links .audio-container {
    position: relative;
    /* background-color: rgba(85, 153, 85, 0.51); */
    /* border-radius: 4px; */
    padding: 5px 2px;

}

.audio-links .audio-meta {
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 1em;
}

.audio-links .audio-meta li {
    font-size: 11pt;
    text-decoration: none;
    color: #272727;
}

.audio-links a:hover {
    text-decoration: none;
}

.audio-links .audio-link i {
    position: absolute;
    top: .5em;
    left: 0em;
}


table.miniparadigm tr:first-child th {
    font-size: 9pt;
    text-transform: capitalize !important;
    text-align: right !important;
}
