@font-face {
	font-family: 'Open Sans';
	src:url('../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
}

body{
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

input,
button,
select,
textarea {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Style for user_input text */
p.user_input_text {
  font-style: italic;
  font-size: 110%;
  color: #5c96b5;
}

span.expl {
  font-style: italic;
  font-size: 90%;
}

span.pos_text {
  font-style: italic;
  font-size: 80%;
}

/* Style for paradigm table */
/* table.miniparadigm {
  border: 1px solid black;
} */
.miniparadigm td {
  border: 1px solid black;
}
.miniparadigm th {
  border: 1px solid black;
}
table.miniparadigm td.rightborder {
  border: none;
  border-right: 1px solid black;
}
table.miniparadigm td.bottomrightborder {
  border: none;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
table.miniparadigm td.separatingcell {
  border: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
table.miniparadigm th.tag {
  background-color: lightgray;
}
table.miniparadigm th.header {
  background-color: lightgray;
}
table.miniparadigm th.middleleftheader {
  text-transform: uppercase;
  font-weight: bold;
  background-color: lightgray;
}
table.miniparadigm th.middleheader {
  text-transform: uppercase;
  font-weight: bold;
  background-color: white;
  text-align: center;
}