@font-face {
	font-family: 'Open Sans';
	src:url('../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
}

body{
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

input,
button,
select,
textarea {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Style for user_input text */
p.user_input_text {
  font-style: italic;
  font-size: 110%;
  color: #5c96b5;
}

span.expl {
  font-style: italic;
  font-size: 90%;
}

span.pos_text {
  font-style: italic;
  font-size: 80%;
}

/* Style for paradigm table */
table.tableparadigm {
  border: 1px solid black;
}
.tableparadigm td {
  border: 1px solid black;
}
.tableparadigm th {
  border: 1px solid black;
  background-color: lightgray;
}
td.noborder {
  border: none;
}
td.bottomborder {
  border: none;
  border-bottom: 1px solid black;
}