#test_palette {
    position: fixed;
    right: 0px;
    bottom: 0px;
    overflow: scroll;
    padding: 15px;
    background-color: rgba(200, 200, 200, .8);
}

#test_palette #test_content {
    min-height: 150px;
    width: 250px;
}

div#test_palette #test_list {
    list-style-type: none;
    margin-left: .75em;
}

div#test_palette #test_list li {
    font-size: 110%;
    margin: 7px 0;
}

div#test_palette #test_list .edit, div#test_palette #test_list .delete {
    margin-left: 5px;
    color: #A50;
}

div#test_palette h1 {
    color: #666;
    font-weight: 300;
    font-size: 170%;
}

div#test_palette #test_list a {
    color: #22;
}

div#test_palette p.note {
    font-size: 90%;
    line-height: 1.2em;
    margin-top: .75em;
    margin-left: .25em;
    padding-left: .50em;
    margin-right: .75em;
    border-left: 3px solid #FFF;
}
