a.brand {
    background-color: transparent;
    color: #0F0 !important;
}

#uitlogo {
    display: none;
}


.results p.lead {
    border: none;
}

.possible_forms {
    margin-left: 0;
}

.possible_forms li {
    list-style-type: square;
}

header {
    margin-bottom: 2em;
}

blockquote.examples {
    color: #BBB;
    font-size: 12pt;
}

p.lead {
    border: none;
}
