.eric6project/
.ropeproject/
.directory/
*.pyc
*.pyo
*.orig
*.bak
*.rej
*~
cur/
tmp/
__pycache__/
*.DS_Store
node_modules/
.env/
dicts/
static/
secret_key.do.not.check.in
morph_log.txt
user_log.txt
package-lock.json
# Compiled translations (.mo)
*.mo