.eric6project/
.ropeproject/
.directory/
*.pyc
*.pyo
*.orig
*.bak
*.rej
*~
cur/
tmp/
__pycache__/
*.DS_Store
node_modules/

# virtual environment folders
.env/
.venv/
venv/

# what are these "build" folders?
neahtta/build/
neahtta/neahtta/build/

neahtta/neahtta/dicts/*.xml
neahtta/neahtta/dicts/*.xml.bak
neahtta/neahtta/dicts/*.xml.bak-before-stem
neahtta/neahtta/dicts/*.xml.log
neahtta/neahtta/dicts/test_lexica

# This folder appeared after switching to pyproject.toml
neahttadigisanit.egg-info

# Configuration files
neahtta/neahtta/configs/*.config.yaml

# ignore everything in any static/vendor folder
**/static/vendor/
**/static/.webassets-cache/

# and anything inside a static folder which includes the word "compiled"
**/static/**/*compiled*.*

# and audio files
**/static/audio/*
**/static/audio/**/*.flac

secret_key.do.not.check.in
morph_log.txt
user_log.txt
package-lock.json

# for pyenv
.python-version

# Compiled translations (.mo)
*.mo

*.pid
