{% extends 'reader_test_page.html' %}

{% block reader_tests %}
<div class="row-fluid">
    <div class="span3">
        <h3>hdn</h3>
    </div>
    <div class="span9">
        <p>period as a word character</p>
        <ul>
            <li>gatáa.ang</li>
        </ul>
        <p>multiwords (NB: click on separate parts of the MWE to test)</p>
        <ul>
            <li>gatáa.ang ñasa'áa</li>
            <li>gatáa.ang ñasaasdlä'ánggang</li>
            <li>gatáa.ang ñasaasdlä'ánggang</li>
            <li>agáng çáandangee 'lagagáa.ang ñasaasdláa</li>
            <li>agáng çáandangee 'lagagáa</li>
            <li>are gatáa and gatáagang recognized in the middle of a sentence?</li>
        </ul>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <h3>&nbsp;</h3>
    </div>
</div>

{% endblock %}


