{% extends 'reader_test_page.html' %}

{% block reader_tests %}
<div class="row-fluid">
    <div class="span3">
        <h3>mrj</h3>
    </div>
    <div class="span9">
        <p>Basic test</p>
        <ul>
            <li>пӓлдӹртӹш</li>
        </ul>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <h3>&nbsp;</h3>
    </div>
</div>

<div class="row-fluid">
    <div class="span3">
        <h3>mhr</h3>
    </div>
    <div class="span9">
        <p>Basic test</p>
        <ul>
            <li>палдыртыш</li>
        </ul>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <h3>&nbsp;</h3>
    </div>
</div>


{% endblock %}



