{% import "lexicon.macros" as macros with context %}

bbqentry: {{ macros.lemma_text(lexicon_entry) }}
definitions:
  {{ rendered_templates.definition }}
notes:
  {{ rendered_templates.get('definition.notes') }}
paradigm:
  {{ rendered_templates.paradigm }}

{# vim: set ts=4 sw=4 tw=72 syntax=jinja : #}
