{# Here we render only what should appear as the entry text, but try to
   avoid any additional HTML formatting.

   NB: you probably need tag filters `text`.
#}
{%- import "lexicon.macros" as macros with context -%}
{%- set first_l = lexicon_entry|xpath('lg/l')|first %}
<span lang="{{ _from }}">{{ first_l|text }}</span> (<span lang="{{ _to }}">{{ first_l|xpath('@pos')|tagfilter(_from, _to) }}</span>)

{# vim: set ts=4 sw=4 tw=72 syntax=htmljinja : #}
