{% if current_pair_settings.asynchronous_paradigms %}
    <script src="{{url_for('static', filename='js/angular.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/async_paradigms.js')}}"></script>
{% endif %}

{# vim: set ts=4 sw=4 tw=72 syntax=jinja : #}
