<div class="alert alert-success intro-note">
    <p>
        <span>{% trans %}Search for a word, or a word form for a word analysis and definition.{% endtrans %}</span>
    </p>
</div>

{# vim: set ts=4 sw=4 tw=72 syntax=htmljinja : #}
