<div class="alert alert-success intro-note">
    <p>
        <span lang="{{ current_locale }}">{% trans %}Search for a word, or a word form for a word analysis and definition.{% endtrans %}</span>
    </p>
</div>
<div class="alert alert-danger">
  <p>We will undergo server maintanance 30.09.2021 at 15.00, and the dictionary might be offline for some time.</p>
  <p>It will be back online as soon as possible. Thanks for your patience!</p>
</div>

{# vim: set ts=4 sw=4 tw=72 syntax=htmljinja : #}
