
{% extends 'reader_test_page.html' %}

{% block reader_tests %}
<div class="row-fluid">
    <div class="span3">
        <h3>olo</h3>
    </div>
    <div class="span9">
        <p>Apostrophe symbol</p>
        <blockquote>
            <p>”Anuksen karjalažet” piästettih ilmah Vladimir Brendojevan da Zinaida Dubininan runoloin kirju ven’akse. Ven’an kielele runot kiändi runoilii, Ven’an kirjuttajien liittoh kuului Georgii Černobrovkin.</p>
                <cite>
                    <a href="http://omamua.rkperiodika.ru/issues/2014/noumeru_41/luvekkua_meiglzii_venakse/">oma mua</a>
                </cite>
        </blockquote>
        <p>Do not recognize periods as a part of the word</p>
        <blockquote>
            <p>– Erähien kolliegoin ker piätimmö yhtistiä väit suomelas-ugrilazien kielien douhturiopastukses. Sit huomaimmo, ku vähembistökielitutkimus on keskitynnyh päivänlaskujevrouppalazih indojevrouppalazih kielih.</p>
                <cite>
                    <a href="http://omamua.rkperiodika.ru/issues/2013/noumeru_30/varavonalazekse_puuttumizen_syyt_voi_identifiiruija_da_silymisty_tugie/">oma mua</a>
                </cite>
        </blockquote>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <h3>&nbsp;</h3>
    </div>
</div>

{% endblock %}

