<VirtualHost *:80>
    # ... snip ... 

    WSGIDaemonProcess PROJNAME user=www-data group=www-data threads=3
    WSGIScriptAlias /PROJNAME /path/to/nds/neahtta/PROJNAME.wsgi/PROJNAME
    WSGIScriptReloading On

    WSGIDaemonProcess PROJNAME2 user=www-data group=www-data threads=3
    WSGIScriptAlias /PROJNAME2 /path/to/nds/neahtta/PROJNAME2.wsgi/PROJNAME2
    WSGIScriptReloading On

    <Directory /path/to/nds/neahtta>
        WSGIProcessGroup PROJNAME
        WSGIApplicationGroup %{GLOBAL}
        Order deny,allow
        Allow from all
    </Directory>


    Alias /PROJNAME/static /path/to/nds/neahtta/static
    Alias /PROJNAME2/static /path/to/nds/neahtta/static
    <Directory /path/to/nds/neahtta/static>
        Order allow,deny
        Allow from all
    </Directory>

    # ... snip ... 

</VirtualHost>
