<dl class="dl-horizontal miniparadigm">
{%- for form in paradigm -%}

    {% if form.tag %}
        <dt>{{ form.tag|tagfilter(_from, _to)  }}</dt>
    {% endif %}

    {% if form.form %}
    <dd lang="{{ _from }}">{{ form.form }}</dd>
    {% else %}
        <dd lang="{{ _from }}">?</dd>
    {% endif %}
{%- endfor -%}
</dl>

{# vim: set ts=4 sw=4 tw=72 syntax=jinja : #}
