{% extends 'reader_test_page.html' %}

{% block reader_tests %}

<div class="row-fluid">
    <div class="span3">
        <h3>sme</h3>
    </div>
    <div class="span9">
        <p>Basic text test</p>
        <blockquote><p>Wikipedia lea friddja diehtosátnegirji badjel 270 gielain.
            Dan čállet eaktodáhtolaš geavaheaddjit miehtá máilmmi. Dan
            sisdoalu lea lohpi kopieret ja geavahit almmolaččat. Maid
            don sáhtát juste dál rievdadit ja dievasmahttit
            Wikipedia-artihkkaliid, dahje álggahit áibbas ođđa
            artihkkala Wikipediai. Dávjá lea buorre jorgalit
            artihkkaliid dáro-, ruoŧa-, suoma-, dahje eŋgelasgiel
            Wikipediain. Wikipedia-prošeakta álggii jagis 2001 ja dál
            gávdnojit badjel 20 miljovnna artihkkala, main 6,520 leat
            davvisámegielat Wikipedias.</p></blockquote>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <h3>&nbsp;</h3>
    </div>
</div>

<div class="row-fluid">
    <div class="span3">
        <h3>sme</h3>
    </div>
    <div class="span9">
        <p>firefox has issues with these.</p>
        <ul>
            <li>-a eller -e, blir endelsen &#8216;–ii&#8217;
                <span style="color: #800000;">skuvla -&gt;
                    skuvlii, baste -&gt; bastii</span></li>
            <li>-i eller -á, blir endelsen &#8216;–ái&#8217;
                <span style="color: #800000;">gávpi -&gt;
                    gávpái, mánná -&gt; mánnái</span></li>
            <li>-u eller –o, blir endelsen &#8216;–ui&#8217;
                <span style="color: #800000;">báŋku -&gt;
                    báŋkui, reŋko -&gt; reŋkui</span></li>
        </ul>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <h3>&nbsp;</h3>
    </div>
</div>

{% endblock %}
