/* @override http://localhost:5000/static/css/base.css */

html, body {
    height: 100%;
}

.reposition_hide {
    position: absolute;

    left: -6000px;
    top: -6000px;
}

.dl-horizontal dt {
  text-overflow: no !important;
}

.container-fluid {
	padding: 0 0;
}

.navbar {
    margin-bottom: 40px;
}

.content {
    display: block;
}

.search_note {
    border-top: 1px solid #CCC ;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 0;
    line-height: 1em;
}

.search_note a {
    padding-top: 0px;
    padding-bottom: 0px;
}

.search_note a span {
    font-size: 90%;
    font-style: italic;
    line-height: 1.1em;
}

#uitlogo {
    padding-top: .5em;
    position: relative;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

footer .inline {
    display: block;
    list-style-type: "none";
    margin: 0 auto;
    position: relative;
    vertical-align: middle;
    width: 100px;
}

footer .inline li {
    display: table-cell;
    padding-right: 5px;
}


/* Mobile-specific */


ul.nav-stacked li {
    width: 100%;
}

ul.nav-stacked li.active a {
    background-color: #0088CC;
    color: #FFF;
    opacity: 1;
}

ul.nav-stacked li a:hover, ul.nav-stacked li.active a:hover {
    background-color: #0088CC;
    color: #FFF;
    opacity: 1;
}



ul.nav-stacked li.active span {
    color: #FFF;
}

#language_select {
    display: none; 
}

/* Example lang attribute selections */

.i18n {
    display: none;
}

#wrap {
    padding-bottom: 120px;
}

.content .page-header {
    margin-top: 0px;
}

p.leftover {
    font-size: 80%;
    line-height: 1.2;
    border-bottom: 1px solid #CCC;
    padding-bottom: 6px;
    margin-bottom: 6px;
}

div.results .lexeme, div.results .lexeme p, div.results .lexeme_analyses {
    font-size: 120%;
}

div.results ol {
    margin-left: 2em;
}

h4.dict_title {
    margin-top: 0px;
    font-weight: 400;
    color: #666;
}

.swaplink {
    margin-left: .25em;
}

#left_nav h4.dict_title {
    font-weight: 300;
    text-indent: .75em;
    letter-spacing: 1px;
    color: #333;
    font-size: 115%;
}

.dropdown-menu .active > a, .dropdown-menu .active > a:hover {
    background-color: #DDD;
    background-image: -moz-linear-gradient(top, #CCC, #DDD);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#CCC), to(#DDD));
    background-image: -webkit-linear-gradient(top, #CCC, #DDD);
    background-image: -o-linear-gradient(top, #CCC, #DDD);
    background-image: linear-gradient(to bottom, #CCC, #DDD);
}
ul.meanings {
    list-style-type: circle;
}

/* NOTE: make smaller */
dl.possible_analyses dt {
    font-weight: lighter; 
    font-style: italic;
    font-weight: 400;
}
dl.possible_analyses.grid_analyses {
    margin-top: 0;
}
dl.possible_analyses dd {
    margin-left: 0;
    padding-left: 0;
}
ul.possible_forms {
    list-style-type: none; 
    margin-left: 0em;
}

ul.possible_forms li {
    margin-left: .5em;
    font-size: 80%;
    font-style: normal;
    font-weight: 400;
}
/* A little more color */
a.brand {
    color: #800 !important;
}


.main-nav > .nav > li > a {
    color: #3A3;
    font-weight: light;
}

ul + .nav-header.variantnote {
    margin-top: -1.25em;
}

.subnavcoloring .active a, .subnavcoloring li:hover a {
    background-color: #DDD !important;
    color: #333 !important;
    opacity: .9 !important;
}

.subnavcoloring a, .subnavcoloring li a {
    background-color: #FFF !important;
    color: #333 !important;
    opacity: .9 !important;
}

#reader_screenshot {
    border: 1px solid #BBB;
    box-shadow: 3px 3px 3px #DDD;
}

.examples {
	margin-left: -1.4em;
	margin-top: .75em;
}

.examples dd {
	margin-bottom: .75em;
	margin-top: .25em;
}

div.button-padding {
	width: 100%;
	padding: 5px 5px 10px;
}

.examples dl {
	margin-top: 0;}

.examples dt {
	font-weight: 400;
}

.examples dd {
	font-weight: 300;
	margin-left: 0;
	font-style: italic;
}

ul.unknown_lexemes {
	list-style: circle;
}

#bookmarklet a {
    color: #FFF;
    font-size: 130%; 
    text-shadow: none;
    font-weight: 300;
}

#bookmarklet {
    text-shadow: none;
    padding: 4px 4px;
    margin-left: 1em;

    background-color: rgba(85, 153, 85, .9);
    border: 1px solid #595;
    box-shadow: 1px 1px 2px #CCC;
}

.lemma_action {
    font-size: 85%;
    margin-left: 4em;
}

.lemma_action.detail {
    font-size: 100%;
    margin-left: 4em;
}


/* Footer
-------------------------------------------------- */

footer {
    background-color: #BBB;
    border-top: 1px solid #888;
    height: 180px;

    padding-top: 15px;
    padding-bottom: 25px;
    
    position: relative;
    margin-top: -180px;
    clear: both; 
}

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 20px;
}
.footer p {
  margin-bottom: 0;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}

.analysis_grid {
    position: relative;
}

.grid_analyses dt, .grid_analyses ul, .grid_analyses li {
    margin-left: 0 !important;
}

.grid_analyses dt {
    font-size: 90%;
    font-weight: 500;
}

.valign_block {
    position: relative;
}

.intro-note {
    max-width: 300px;
    background-color: #EFEFEF;
    border-color: #DEDEDE;
    color: #555;
}

p.analysis_note {
    font-size:  90%;
    line-height: 1.3em;
    color: #444;
    display: block;
    position: absolute;
    bottom: 0px;
    margin-bottom: 0px;
}

img.i18n_flag {
  width: 20px;
  border: 1px solid #BBB;
  background-color: #BBB;
}

div.default_flag {
    width: 20px;
    /* border: 1px solid #888; */
    box-shadow: 1px 1px 2px #CCC;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 15px;
    display: inline-block;
    overflow: hidden;
    text-shadow: none;
    font-family: sans-serif;
    line-height: 15px;
    /* color: #777; */
    text-align: center;
    vertical-align: middle;

    background-color: #595;
    border: 1px solid #595;
    color: #FFF;
    font-weight: 100;
    font-size: 8pt;
}

.other_link {
    font-style: italic;
    margin-left: 1em;
}

.see_also, .see_also a {
    font-size: 90%;
    font-style: italic; 
}

.transparent_text {
    color: transparent;
}

#language_grouped_nav {
    margin-bottom: 2em;
    margin-left: .75em;
}

#language_grouped_nav ul.nav-tabs:last-child {
    margin-bottom: .25em;
}

#language_grouped_nav h5 {
    font-size: 120%;
    font-variant: small-caps;
    text-transform: lowercase;
    color: #999;
}

#language_grouped_nav div.active-group {
}

#language_grouped_nav h5.active-group-title .inactive-placeholder {
    display: none;
}

#language_grouped_nav .inactive-placeholder {
    position: relative;
    left: -.5em;
    margin-left: -1.25em;
}

#language_grouped_nav h5.inactive-group-title a {
    color: #777;
}

#language_grouped_nav h5.active-group-title a {
    color: #666;
}

#language_grouped_nav div.active .block-header {
    padding: 0px 3px;
}

#language_grouped_nav div.active .block-header a {
    color: #666;
    font-weight: bold;
}

.active .transparent_text {
    color: #666;
}

#language_grouped_nav .variant-select-menu .nav-header {
    padding: 3px 3px;
}

#language_grouped_nav div.active.language-item {
    background-color: #F7F7F7;
    border: 1px solid #CCC;
    border-radius: 3px;
}

#language_grouped_nav .inactive-group {
    display: none; 
}

span.entry_source {
    display: block;
    width: 100%;
    text-align: right;
    font-style: italic;
    font-size: 90%;
    margin-top: .25em;
}

/*
 *
 * Key palette / keyboard
 *
 */

#keyboard {
}

/* TODO: different design for desktop, closer to input, maybe use bootstrap
 * tooltip buttons  
 */

.fixfixed {
    position: absolute;
}

.keyboard {
    bottom: 0px;
    position: absolute;
}

/* TODO: center */
#keyboard ul {
    list-style-type: none;
    margin: 0 auto;
    display: table-row;
}

#keyboard ul li {
	display: block;
    float: left;
    /* background-color: #222; */
    display: table-cell;
}

#keyboard ul li a {
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    position: relative;
    line-height: 40px;
    font-size: 20px;
    font-weight: 200;
}

#keyboard ul li a {
    /* text-decoration: none; */
    /* text-shadow: 0px 0px 1px rgba(255,255,255,.1); */
    /* color: #0088cc; */
}

/* desktop positioning */
/* TODO: JS to position next to input */

/* mobile tweaks */
@media (max-width: 550px) {
    form#neahttasaanit.keyboard-visible {
        margin-top: .25em;
    }

    #keyboard ul li a {
        font-size: 22px;
    }

}

/* tablet positioning */
@media (min-width: 550px) and (max-width: 800px) {
}


@media (min-width: 801px) {
    #keyboard {
        position: relative;
        margin-top: -.5em;
        padding-bottom: 5px;
        margin-bottom: 0px;
        background-color: transparent;
        width: 300px; /* roughly 9 characters */
    }

    #keyboard, #keyboard ul {
        border-radius: 4px 4px 0px 0px;
        -moz-border-radius: 4px 4px 0px 0px;
        -webkit-border-radius: 4px 4px 0px 0px;
    }

    #keyboard ul li:first-child {
        border-radius: 4px 0px 0px 4px;
        -moz-border-radius: 4px 0px 0px 4px;
        -webkit-border-radius: 4px 0px 0px 4px;
    }

    #keyboard ul li:last-child {
        border-radius: 0px 4px 4px 0px;
        -moz-border-radius: 0px 4px 4px 0px;
        -webkit-border-radius: 0px 4px 4px 0px;
    }

    #keyboard > span.title {
        font-size: 80%;
        font-color: #888;
        margin-left: .75em;
    }

    #keyboard ul li a {
        display: block;
        width: 20px;
        height: 20px;
        text-align: center;
        position: relative;
        line-height: 22px;
        font-size: 15px;
        font-weight: 200;
        padding: 2px;
        color: #444;
    }

    #keyboard ul {
        background-color: #FFF;
        border: 1px solid #ccc;
    }

    #keyboard ul, #keyboard li, #keyboard li a {
        background-color: #FFF;
    }

    #keyboard ul .hide_keyboard {
        font-size: 80%;
        line-height: 25px;
    }

}

@media (max-width: 767px) {
    span.entry_source {
        margin-top: .5em;
        margin-bottom: .5em;
        font-size: 80%;
    }
}

@media (min-width: 767px) {
    .entry_row {
        margin-bottom: 1em;
    }
}

@media (max-width: 767px) {
  /* Unfloat the back to top link in footer */
  .footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer p {
    margin-bottom: 9px;
  }
  .entry_row {
      display: inline;
  }
}

@media (max-width: 480px) {
  /* Tighten up footer */
  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  form#neahttasaanit {
  	width: 100%;
  }
  form#neahttasaanit input {
  	max-width: 9em;
    font-size: 20px;
  }
}

/* Mobile-specific tweaks */
@media (max-width: 550px) {
  .content {
      margin-top: -20px;
  }
  form#neahttasaanit {
  	width: 100%;
  }
  form#neahttasaanit input {
  	max-width: 9em;
    font-size: 20px;
  }
}

@media (min-width: 550px) and (max-width: 978px) {
  form#neahttasaanit input {
    width: 140px;
  }
}

@media (max-width: 979px) {
    p.analysis_note {
        font-size: 85% !important;
    }

    body > .container {
        width: 95%;
    }
}

@media (min-width: 550px) and (max-width: 820px) {
    #uitlogo {
        top: 25px;
        width: 50px;
        height: 50px;
        margin-bottom: 40px;
    }

    footer {
        margin-left: -20px;
        margin-right: -20px;
        padding: 0 40px;
        padding-bottom: 35px;
    }
}

@media (max-width: 550px) {
    #i18n_translations {
        float: left;
    }
	
	h4.dict_title {
		font-size: 115%;
		text-align: right;
		margin-bottom: 0em;
	}
	
    form#neahttasaanit input {
        font-size: 20px;
    }
    
    form#neahttasaanit {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
    
    footer {
        margin-left: -20px;
        margin-right: -20px;
        padding: 0 40px;
        padding-bottom: 35px;
    }
    
    p.lead {
        font-size: 120%;
        line-height: 1.3em;
    }
    
    #uitlogo {
        top: 25px;
        width: 50px;
        height: 50px;
        margin-bottom: 40px;
    }

	.main_search .examples {
		font-size: 90%;
	}
	
	.results ol {
		margin-top: 1em;
		margin-bottom: 1em;
	}

	.results ol li {
	    margin-bottom: .4em;
	}

	.analysis_box {
	    margin-top: 1em;
	}
	
}

@media (min-width: 551px) and (max-width: 767px) {
    .hidden-mid {
          display: none !important;
    }

    .visible-mid {
          display: inherit !important;
    }

    #i18n_translations {
        float: left;
    }
	
	h4.dict_title {
		font-size: 115%;
		text-align: left;
		margin-bottom: 0em;
	}
	
    form#neahttasaanit input {
        font-size: 20px;
    }
    
    form#neahttasaanit {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
    
    footer {
        margin-left: -20px;
        margin-right: -20px;
        padding: 0 40px;
        padding-bottom: 35px;
    }
    
    p.lead {
        font-size: 120%;
        line-height: 1.3em;
    }
    
    #uitlogo {
        top: 25px;
        width: 50px;
        height: 50px;
        margin-bottom: 40px;
    }

	.main_search .examples {
		font-size: 90%;
	}
	
	.results ol {
		margin-top: 1em;
		margin-bottom: 1em;
	}

	.analysis_box {
	    margin-top: 1em;
	}
	
    .entry_row .span8 {
        width:  70% !important;
        float: left;
    }

    .entry_row .span4 {
        width: 30% !important;
        float: right;
    }

    .form-row [class*="span"] {
        float: left !important;
        margin-left: 1px !important;
    }

    .form-row .span8 {
        width: 70% !important;
    }

    .form-row .span4 {
        width: 29% !important;
    }

    .form-row .analysis_note {
        position: absolute !important;
        bottom: 0px !important;
        height: 1em;
    }

}


/*
 * Search keyword CSS
 *
 */

.search_options {
    margin-top: -1.75em;
    margin-bottom: .75em;
    border-left: 5px #ddd solid;
}

.search_options .note {
    font-size: 95%;
    font-weight: 500;
    margin-top: 7px;
    margin-bottom: 5px;
    margin-left: 1.75em;
    line-height: 1.3em;
    color: #777;
}

.search_options div.search_keywords {
    margin-bottom: .5em;
    display: block;
    margin-left: 1.75em;
}

.search_options a.add_keyword .label {
    font-size: 11pt;
    margin-top: 3px;
    margin-bottom: 0px;
    line-height: 20px;
}

.search_options div.search_keywords p {
    line-height: 1.8em;
}

.search_options div.search_keywords a {
    padding-right: 5px;
}
form[tagsinput] .label {
    font-size: 11pt;
    margin-top: 3px;
    margin-bottom: 0px;
    line-height: 20px;
}

.initial_keywords .element-item {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 5px;
    padding: 10px;
    background: #888;
    color: #262524;
}

.element-item .keyword {
    font-size: 24px;
}

.element-item .count {
    position: absolute;
    bottom: 3px;
    right: 5px;
}
