/* @override http://localhost:5000/static/css/base.css */

.reposition_hide {
    position: absolute;

    left: -6000px;
    top: -6000px;
}

.container-fluid {
	padding: 0 0;
}

.navbar {
    margin-bottom: 40px;
}

content {
    display: block;
}


#uitlogo {
    padding-top: .5em;
    position: relative;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

footer .inline {
    display: block;
    list-style-type: "none";
    margin: 0 auto;
    position: relative;
    vertical-align: middle;
    width: 100px;
}

footer .inline li {
    display: table-cell;
    padding-right: 5px;
}


/* Mobile-specific */


ul.nav-stacked li {
    width: 100%;
}

ul.nav-stacked li.active a {
    background-color: #0088CC;
    color: #FFF;
    opacity: 1;
}

ul.nav-stacked li a:hover, ul.nav-stacked li.active a:hover {
    background-color: #0088CC;
    color: #FFF;
    opacity: 1;
}



ul.nav-stacked li.active span {
    color: #FFF;
}

#language_select {
    display: none; 
}

/* Example lang attribute selections */

.i18n {
    display: none;
}

#wrap {
    min-height: 280px;
}

content .page-header {
    margin-top: 0px;
}

div.results, div.results p {
    font-size: 120%;
}

div.results ol {
    margin-left: 2em;
}

h4#dict_title {
    margin-top: 0px;
}

.dropdown-menu .active > a, .dropdown-menu .active > a:hover {
    background-color: #DDD;
    background-image: -moz-linear-gradient(top, #CCC, #DDD);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#CCC), to(#DDD));
    background-image: -webkit-linear-gradient(top, #CCC, #DDD);
    background-image: -o-linear-gradient(top, #CCC, #DDD);
    background-image: linear-gradient(to bottom, #CCC, #DDD);
}

/* NOTE: make smaller */
dl.possible_analyses dt {
    font-weight: lighter; 
    font-style: italic;
    font-weight: 400;
}
dl.possible_analyses dd {
    margin-left: 0;
    padding-left: 0;
}
ul.possible_forms {
    list-style-type: none; 
    margin-left: 0em;
}

ul.possible_forms li {
    margin-left: .5em;
    font-size: 80%;
    font-style: normal;
    font-weight: 400;
}
/* A little more color */
a.brand {
    color: #800 !important;
}

.main-nav > .nav > li > a {
    color: #3A3;
    font-weight: light;
}

ul + .nav-header.variantnote {
    margin-top: -1.25em;
}

.subnavcoloring .active a, .subnavcoloring li:hover a {
    background-color: #DDD !important;
    color: #333 !important;
    opacity: .9 !important;
}

.subnavcoloring a, .subnavcoloring li a {
    background-color: #FFF !important;
    color: #333 !important;
    opacity: .9 !important;
}

#reader_screenshot {
    border: 1px solid #BBB;
    box-shadow: 3px 3px 3px #DDD;
}

.examples {
	margin-left: -1.4em;
	margin-top: .75em;
}

.examples dd {
	margin-bottom: .75em;
	margin-top: .25em;
}

div.button-padding {
	width: 100%;
	padding: 5px 5px 10px;
}

.examples dl {
	margin-top: 0;}

.examples dt {
	font-weight: 400;
}

.examples dd {
	font-weight: 300;
	margin-left: 0;
	font-style: italic;
}

ul.unknown_lexemes {
	list-style: circle;
}

#keyboard {
    display: none;
    position: fixed;
    top: 20px;
    // bottom: 0;
    margin-bottom:0;
}

#keyboard ul {
    margin-left: 2em;
}

#keyboard a {
    color: #88F;
    font-size: 150%;
    font-weight: 300;
}

#bookmarklet a {
    color:#900; 
    font-size: 130%; 
    text-shadow: none;
    font-weight: 500;
}

#bookmarklet {
    background-color: #CCC;
    text-shadow: none;
    padding: 4px 4px;
    margin-left: 1em;
}


/* Footer
-------------------------------------------------- */

footer {
    background-color: #BBB;
    border-top: 1px solid #888;
    position: relative;
    height: 150px;

    // padding-top: 15px;
    // padding-bottom: 25px;
    // 
    // margin-top: -150px;
    // clear: both; 
}

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
}
.footer p {
  margin-bottom: 0;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}

img.i18n_flag {
  width: 20px;
  border: 1px solid #BBB;
  background-color: #BBB;
}

.other_link {
    font-variant: italic;
    margin-left: 1em;
}

@media (max-width: 767px) {
  /* Unfloat the back to top link in footer */
  // .footer {
  //   margin-left: -20px;
  //   margin-right: -20px;
  //   padding-left: 20px;
  //   padding-right: 20px;
  // }
  .footer p {
    margin-bottom: 9px;
  }
}

@media (max-width: 480px) {
  /* Tighten up footer */
  .footer {
    // padding-top: 20px;
    // padding-bottom: 20px;
  }

  form#neahttasaanit {
  	width: 100%;
  }
  form#neahttasaanit input {
  	max-width: 9em;
    font-size: 20px;
  }
}

/* Mobile-specific tweaks */
@media (max-width: 550px) {
  content {
      margin-top: -20px;
  }
  form#neahttasaanit {
  	width: 100%;
  }
  form#neahttasaanit input {
  	max-width: 9em;
    font-size: 20px;
  }
}

@media (min-width: 550px) and (max-width: 820px) {
    #uitlogo {
        top: 25px;
        width: 50px;
        height: 50px;
        margin-bottom: 40px;
    }

    footer {
        margin-left: -20px;
        margin-right: -20px;
    //     padding: 0 40px;
    //     padding-bottom: 35px;
    }
}

@media (max-width: 550px) {
    #i18n_translations {
        float: left;
    }
    #keyboard {
        display: none;
    }
	
	h4#dict_title {
		font-size: 115%;
		text-align: right;
		margin-bottom: 0em;
	}
	
    form#neahttasaanit input {
        font-size: 20px;
    }
    
    form#neahttasaanit {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
    
    footer {
        margin-left: -20px;
        margin-right: -20px;
    //     padding: 0 40px;
    //     padding-bottom: 35px;
    }
    
    p.lead {
        font-size: 120%;
        line-height: 1.3em;
    }
    
    #uitlogo {
        top: 25px;
        width: 50px;
        height: 50px;
        margin-bottom: 40px;
    }

	.main_search .examples {
		font-size: 90%;
	}
	
	.results ol {
		margin-top: 1em;
		margin-bottom: 1em;
	}
	
	.results ol:last-child {
		margin-bottom: 2.5em;
		margin-top: 1em;
	}
}
