span.entry_source {
    display: block;
    width: 100%;
    text-align: right;
    font-style: italic;
    font-size: 90%;
    margin-top: .25em;
}

#logos img {
    padding-top: .5em;
    position: relative;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    margin-left: 20px;
}
