/*
 * Nicer table paradigms
 *
 */

table.miniparadigm {
    margin-bottom: 1.5em;
    margin-left: 2em;
}

table.miniparadigm th, table.miniparadigm td {
    padding: 1px 6px;
}

table.miniparadigm tr th {
    text-transform: uppercase;
    font-size: 8pt;
}

table.miniparadigm tr th em {
    text-transform: lowercase;
    font-size: 10pt;
    font-weight: 300;
    font-style: normal;
}

a.full-paradigm-link {
    float: right;
    font-style: italic;
    font-size: 10pt;
    margin-bottom: 1em;
}

@media (max-width: 550px) {
    a.full-paradigm-link {
        float: left;
        margin-left: 2em;
    }

}

table.miniparadigm th.tag {
    font-size: 9pt;
    text-transform: lowercase;
    text-align: right;
    padding-right: 8px;
}

table.miniparadigm .center {
    text-align: center;
}

/*  fixing essive positioning
 */

table.miniparadigm th, td {
    vertical-align: top;
}

table.miniparadigm {
    table-layout: fixed;
}

table.miniparadigm .double-width {
    border-top: 1px dotted #CCC; 
}

/* grammar links
 *
 */

span.grammar_link_text {
    font-style: italic;
    font-weight: 400;
}

em.grammar_link {
    font-style: italic;
}

