table.miniparadigm {

}

table.miniparadigm th, table.miniparadigm td {
    padding: 1px 6px;
}

table.miniparadigm tr:first-child th {
    text-transform: uppercase;
    font-size: 8pt;
}

table.miniparadigm th.tag {
    font-size: 8pt;
    text-transform: uppercase;
    text-align: right;
    padding-right: 8px;
}
