/* grammar links
 *
 */

span.grammar_link_text {
    font-style: italic;
    font-weight: 400;
}

em.grammar_link {
    font-style: italic;
}

/* Style for user_input text */
p.user_input_text {
  font-style: italic;
  font-size: 150%;
  color: #0c5278;
}
