@font-face {
	font-family: 'Open Sans';
	src:url('../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
}

body{
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

/* Style for user_input text */
p.user_input_text {
  font-style: italic;
  font-size: 110%;
  color: #5c96b5;
}

span.expl {
  font-style: italic;
  font-size: 90%;
}

span.pos_text {
  font-style: italic;
  font-size: 80%;
}