{% extends 'base.html' %}
{% block extra_css %}
<style type="text/css">
.marketing h1 {
    margin: 0px 0 10px;
    font-size: 45px;
    font-weight: 200;
    line-height: 1;
    letter-spacing: -1px;
}
.marketing h3 {
    margin: 0px 0 10px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0px;
}
.hero-unit {
	padding-top: 1em;
	padding-bottom: 1em;
}

.green {
    color: #468847;
}

.red {
    color: #b94a48;
}

.blue {
    color: #3a87ad;
}

.yellow {
    color: rgb(224, 224, 4);
}

.smaller {
    font-size: 150%;
}

.row-fluid p a {
    border-bottom: 1px dotted;
}

a:hover {
    text-decoration: none;
}

@media (max-width: 550px) {
	.hero-unit {
		margin-bottom: 0em;
	}
	.marketing .row-fluid span h3 {
		margin-top: .75em;
	}
}


</style>

{% endblock %}

{% block title %}
 - {% trans %}About{% endtrans %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="marketing">
        <div class="hero-unit">
          {# Hide this on mobiles, because it is too big, and the name
             is in the header anyway #}
          <h1 class="hidden-phone">{{ app_name }}</h1>
          <p class="lead" style="margin-bottom: .25em;">{% trans %}A dictionary that understands what you're looking for.{% endtrans %}</p>
          <p style="font-size: 80%; margin-top: .5em;"><em>{% trans %}(... And is mobile-friendly!){% endtrans %}</em></p>
        </div>
        <div class="row-fluid">
            <span class="span4">
                <h3 class="red">{# NOTE: Free as in gratis #}{% trans %}Free{% endtrans %}</h3>
                <p>{% trans %}Everything (or, well, almost everything) that
                    concerns minority languages should be free. Here
                    you'll find free dictionaries, and other analytical
                    tools.{% endtrans %}</p>
            </span>
            <span class="span4">
            <h3 class="blue">{% trans %}Open-Source{% endtrans %}</h3>
            <p>{% trans %}Everything here is based on open-source tools. Do you
                have an idea for an app or research project that needs
                linguistic resources? Visit <a class="blue"
                    href="http://giellatekno.uit.no/">Giellatekno</a>'s
                website for information on how to get access to lexicon
                files, and morphological and syntactic analyzers.{% endtrans %}</p>
            </span>
            <span class="span4">
                <h3 class="green">{% trans %}Linguistic basis{% endtrans %}</h3>
                <p>{% trans %}Write what you wish, and the dictionary will analyze it to break apart compound words and find base forms.{% endtrans %}</p>
                <p>«manai» <br />
                    → «manai» <span class="label label-success">V</span> <span class="label label-success">Ind</span> <span class="label label-success">Prt</span> <span class="label label-success">Sg1</span> 
                    <br />
                    → «mannat» 
                    <br />
                    → {% trans %}gå, dra, reise{% endtrans %}</p>
            </span>
        </div>
        <div class="row-fluid">
            <blockquote></blockquote>
        </div>
        <div class="row-fluid">
            <h2 style="font-weight:300;">{% trans %}Source material{% endtrans %}</h2>
        </div>
        <div class="row-fluid">
            <blockquote></blockquote>
        </div>
        <div class="row-fluid">
            <span class="span4">
                <h3 class="red smaller">{% trans %}sme ↔ nob{% endtrans %}</h3>
                <p>{% trans %}North Sámi → Norwegian builds on Nils Jernsletten's dictionary <em>Álgosátnegirji</em>, but here it has been more than doubled in content.{% endtrans %}</p>
                <p>{% trans %}Norwegian → North Sámi is a converted version of North Sámi → Norwegian, but we have also revised the content and added frequent words from Norwegian.{% endtrans %}</p>
            </span>
            <span class="span4">
                <h3 class="blue smaller">{% trans %}sma ↔ nob{% endtrans %}</h3>
                <p>{% trans %}The dictionaries for South Sámi and Norwegian build on material prepared by Albert Jåma and Tove Brustad in the <a class="blue" href="http://www.ruovatsijte.no/">Hemnes Sámi Organization</a>, but has in addition gained words from <a class="blue" href="http://giellatekno.uit.no/">Giellatekno</a> and <a class="blue" href="http://aajege.no/">Aajege</a>'s work with the Southern Sámi <a class="blue" href="http://oahpa.no">Oahpa</a>.{% endtrans %}</p>
            </span>
            <span class="span4">
                <h3 class="green smaller">{% trans %}sme ↔ fin{% endtrans %}</h3>
                <p>{% trans %}Dictionaries for North Sámi and Finnish are based on lexical material from the <a class="green" href="http://kotus.fi">Institute for the Languages of Finland</a>, and from Giellatekno's work with the North Sámi  <a class="green" href="http://oahpa.no">Oahpa</a>. In addition, we have included frequent words from North Sámi, but especially from Finnish.{% endtrans %}</p> 
                <p>{% trans %}Each of the dictionaries contains about 11,000 base words.{% endtrans %}</p>
            </span>
        </div>
        <div class="row-fluid">
            <blockquote></blockquote>
        </div>
        <div class="row-fluid">
            <span class="span4"><h3 class="red">&nbsp;</h3></span>
            <span class="span4"><h3 class="blue">{% trans %}More to come...{% endtrans %}</h3></span>
        </div>
        <div class="row-fluid">
            <blockquote></blockquote>
        </div>
    </div>
</div>

{% endblock %}

