<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="google-site-verification" content="9N9Tebim_a2IszkaT9fE2Q3tgIaHiAkAmUpfeJyVHnA" />
        {# TODO: enable indexing by removing following #}
        <meta name="robots" content="index">
        {% block meta_title %}
        <meta name="title" content="{{ app_name }}">
        {% endblock %}

        {% block meta_description %}
            {% if app_meta_desc %}
                <meta name="description" content="{{ app_meta_desc }}">
            {% else %}
                <meta name="description" content="Gratis online mobilvennlige nordsamiske og sørsamiske ordbøker">
            {% endif %}
        {% endblock %}

        {% if app_meta_keywords %}
            <meta name="keywords" content="{{ app_meta_keywords }}">
        {% else %}
            <meta name="keywords" content="samisk ordbok, på nett, mobil ordbok, ordbok app, 
                sanakirjat, sanakirja, sátnegirjjit, sátnegirji, nordsamisk,
                sørsamisk, finsk, norsk, pohjoissaame, davvisámegiella north sámi,
                south sámi, norwegian, finnish, sámegiella, sámi language,
                lullisámegiella, sørsamisk, mobil ordbok">
        {% endif %}
        <title>{{ app_name }}{% block title %}{% endblock %}</title>

	    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
	    <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">

        {# TODO: meta keywords and description
        <meta name="keywords" content="samisk ordbok,nordsamisk,sørsamisk,finsk,norsk">
        <!-- In each language, with 2-char ISO -->
        <meta name="description" lang="se" content="">
        <meta name="description" lang="fi" content="">
        <meta name="description" lang="no" content="">
        <meta name="description" lang="sv" content="">
        <meta name="description" lang="en" content="">
        #}

        <link href="{{url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet" />
        <link href="{{url_for('static', filename='css/bootstrap-responsive.css')}}" rel="stylesheet" />

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/DSt.js')}}"></script>
        
        <!--[if lt IE 9]>
              <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->

        <link href="{{url_for('static', filename='css/base.css')}}" rel="stylesheet" />

        <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-collapse.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-dropdown.js')}}"></script>
        {% block extra_css %}
        {% endblock %}

        <script type="text/javascript">
            // TODO: update
            // Language select
            // $(document).ready(function(){
            // 	var has_lang = DSt.get('nds-ui-lang');
            // 	if (has_lang) {
            // 	    $('body').prop('lang', has_lang);
            // 	}
            // 	$('#language_select a.lang').click( function(evt) {
            // 		var lang = $(evt.target) ;
            // 		var iso  = lang.attr('data-lang');
            // 		DSt.set('nds-ui-lang', iso);
            // 		$('body').prop('lang', iso);
            // 		return false;
            // 	});
            // });
{#
            var _im_listening = false;
            $(document).ready(function(){
                $(window).resize(function(o){
                    $('a.last').html(window.outerHeight);

                });
                $("input").focus(function(o){
                    $('#keyboard').show();
                    // $('#keyboard').css({top:window.outerHeight + "px"});
                    var _h = window.outerHeight - $('#keyboard').height();
                    $('#keyboard').css({top: _h-100})

                    if (!_im_listening) {
                        $('#keyboard a').click(function(_char){
                            _im_listening = true;
                            var _val = $(o.target).val()
                              , _c   = $(_char.target).attr('data-char')
                              ;
                            $(o.target).val(_val + _c)
                                       .trigger("keyup")
                                       .focus()
                                       ;
                            return false;
                        });
                    }
                });
            });
#}
        </script>
        {% block extra_js %}
        {% endblock %}

    </head>

    <body lang="{% if session_locale_long_iso %}{{ session_locale_long_iso }}{% else %}sme{% endif %}" class="{% block bodyclass %}{% endblock %}">
        <header>
            <div class="navbar navbar-static-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".main-nav">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="brand" href="/">{{ app_name }}</a>
                        <div class="nav-collapse main-nav">
                            <ul class="nav">
                                <li><a href="/">
                                        <span>{% trans %}Home{% endtrans %}</span>
                                </a></li>
                                <li>
                                    <a href="/read/">
                                        <span>{% trans %}Plugins{% endtrans %}</span>
                                    </a>
                                </li>
                                <li><a href="/about/">
                                        <span>{% trans %}About{% endtrans %}</span>
                                </a></li>
                                {% block extra_nav %}
                                {# TODO: locales available #}
                                {% endblock %}
                                <li class="display-phone hidden-tablet hidden-desktop"><span>{% trans %}Interface language{% endtrans %}</span></li>
                                {% for iso in internationalizations %}
                                <li class="display-phone hidden-tablet hidden-desktop">
                                    <a href="/locale/{{ iso }}/">
                                        <img class="i18n_flag" src="{{url_for('static', filename='img/flags/' + iso + '_20x15.png')}}"></img> {{ iso|iso_to_language_own_name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                            {% include 'language_select.html' %}
                        </div>
                        {% block search_li_form %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </header>

        <div class="container" id="wrap">
            <content>
                {% block content %}
                <div class="container-fluid">
                    <div class="row-fluid">
                        {% block layout %}
                            <div class="span9">
                                {% block content_left %}
                                {% endblock %}
                            </div>
                            <div class="span3">
                                {% block float_right %}
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                </div>
                {% endblock %}

                {#
                <div id="keyboard" class="navbar navbar-inverse navbar-fixed-bottom">
                    <div class="navbar-inner">
                        <div class="container">
                            <ul class="nav">
                                <li><a href="#" data-char="á">á</a></li>
                                <li><a href="#" data-char="ŋ">ŋ</a></li>
                                <li><a href="#" data-char="š">š</a></li>
                                <li><a href="#" data-char="ž">ž</a></li>
                                <li><a href="#" data-char="č">č</a></li>
                                <li><a href="#" data-char="ŧ">ŧ</a></li>
                                <li><a href="#" data-char="đ">đ</a></li>
                                <li><a href="#" class="last"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                #}
            </content>
        </div>

        {% block footer_block %}
        <footer class="footer">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span4 offset1">
                        <img src="{{url_for('static', filename='img/uitlogo.png')}}" id="uitlogo" width="100" height="100" class="pull-right"></img>
                    </div>
                    <div class="span4">
                        <p class="lead">
                            <span>{% trans %}Created with free and open-source language tools from <em><a href="http://giellatekno.uit.no">Giellatekno</a></em>, a Sámi Language Technology group at the <a href="http://uit.no">University of Tromsø</a>.{% endtrans %}</span>
                        </p>
                    </div>
                    {# 
                    <div class="span4" style="border-left: 1px solid #CCC">
                        <ul>
                            <li><a href="#">Divvun</a></li>
                            <li><a href="#">Oahpa</a></li>
                            <li><a href="#">Kursa</a></li>
                        </ul>
                    </div>
                    #}
                </div>
            </div>
        </footer>
        {% endblock %}

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35664482-1']);
      _gaq.push(['_setDomainName', 'oahpa.no']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>    
</body>

</html>
