<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="9N9Tebim_a2IszkaT9fE2Q3tgIaHiAkAmUpfeJyVHnA" />
    {# TODO: enable indexing by removing following #}
    <meta name="robots" content="index">
    <!-- TODO: add bookmark js popup?  -->
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!-- iOS 7 only uses the last line -->
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="apple-touch-icon" href="/static/img/mobile_bookmark_icons/{{ app_short_name }}.png"/>  
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/mobile_bookmark_icons/{{ app_short_name }}_72x72.png"/>  
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/mobile_bookmark_icons/{{ app_short_name }}_114x114.png"/>

    {% if app_meta_title and app_meta_title != app_name %}
        {% set app_name_desc = app_name + ' - ' + app_meta_title %}
    {% else %}
        {% set app_name_desc = app_name %}
    {% endif %}

    <meta property="og:title" content="{{ app_name }} | {% block og_meta_title -%}{{ app_meta_title }}{%- endblock %}">
    <meta property="og:type" content="website">

    <meta property="og:url" content="http://{{ app_short_name }}.oahpa.no{% block og_url_path %}/{% endblock %}">

    <meta property="og:image" content="http://{{ app_short_name }}.oahpa.no/static/img/mobile_bookmark_icons/{{ app_short_name }}.png">
    <meta property="og:site_name" content="{{ app_name }}">

    {% block og_meta_description %}
        <meta property="og:description" content="{{ app_meta_desc }}" />
    {% endblock %}

    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">

    <meta name="apple-mobile-web-app-title" content="{{ app_mobile_bookmark_name }}">

    {% block meta_title %}
        <meta name="title" content="{{ app_name_desc }}">
    {% endblock %}

    {% block meta_description %}
        {% if app_meta_desc %}
            <meta name="description" content="{{ app_meta_desc }}">
        {% endif %}
    {% endblock %}

    {% if app_meta_keywords %}
        <meta name="keywords" content="{{ app_meta_keywords }}">
    {% else %}
        <meta name="keywords" content="samisk ordbok, på nett, mobil ordbok, ordbok app, 
            sanakirjat, sanakirja, sátnegirjjit, sátnegirji, nordsamisk,
            sørsamisk, finsk, norsk, pohjoissaame, davvisámegiella north sámi,
            south sámi, norwegian, finnish, sámegiella, sámi language,
            lullisámegiella, sørsamisk, mobil ordbok">
    {% endif %}

    <title>{% block title %}{% endblock %}{{ app_name_desc }}</title>

	<link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
	<link rel="icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">

    {% if text_tv %}
        {% assets "main_t_css" %}
		    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
        {% endassets %}
        {% assets "main_t_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
    {% else %}
        {% assets "main_css" %}
		    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
        {% endassets %}
    {% endif %}

    {% if new_mobile_nav %}
        {% assets "nav_menu_css" %}
		    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
        {% endassets %}
    {% endif %}


    {# for some reason {% set %} tag to compile css path didn't see variables in scope. 
    #}

    {% block extra_css %}
    {% endblock %}

    <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    {% if production_mode %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    {% else %}
        <script type="text/javascript" src="{{url_for('static', filename='js/jquery.1.7.2.min.js')}}"></script>
    {% endif %}

    {% assets "main_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% block extra_js %}
    {% endblock %}

</head>

<body lang="{% if session_locale %}{{ session_locale }}{% endif %}"
    class="{% block bodyclass %}{% endblock %}{% if new_mobile_nav %} flyout-nav{% endif %}">

      {% if new_mobile_nav %}
        <div class="nav-container">
			<!-- Push Wrapper -->
			<div class="mp-pusher" id="mp-pusher">
                <!-- mp-menu -->
          {% include "mobile_nav_push_menu.html" %}
          {# NB: we also close these tags below #}
                <!-- /mp-menu -->
				<div class="scroller"><!-- this is for emulating position fixed of the nav -->
					<div class="scroller-inner">
        {% endif %}

        <header>
            <div class="navbar navbar-static-top">
                <div class="navbar-inner">
                    <div class="container">
                        {% if new_mobile_nav %}
                            <a href="#" id="trigger" class="btn btn-navbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>
                        {% else %}
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".main-nav">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>
                        {% endif %}
                        <a class="brand" href="/">{{ gettext(app_name) }}</a>
                        <div class="nav-collapse main-nav">
                            <ul class="nav">
                                <li><a href="{{ url_for('.canonical-root') }}">
                                        <span lang="{{ current_locale }}">{% trans %}Home{% endtrans %}</span>
                                </a></li>
                                <li>
                                    <a href="{{ url_for('.reader_info') }}">
                                        <span lang="{{ current_locale }}">{% trans %}Plugins{% endtrans %}</span>
                                    </a>
                                </li>
                                <li><a href="{{ url_for('.about') }}">
                                        <span lang="{{ current_locale }}">{% trans %}About{% endtrans %}</span>
                                </a></li>
                                {% if sources_template_exists %}
                                    <li><a href="{{ url_for('.about_sources') }}">
                                            <span lang="{{ current_locale }}">{% trans %}Sources{% endtrans %}</span>
                                    </a></li>
                                {% endif %}
                                {% block extra_nav %}
                                {# TODO: locales available #}
                                {% endblock %}
                                <li class="display-phone hidden-tablet visible-mid hidden-desktop"><span lang="{{ current_locale }}">{% trans %}Interface language{% endtrans %}</span></li>
                                {% for iso in internationalizations %}
                                <li class="display-phone hidden-tablet visible-mid hidden-desktop">
                                    <a href="{{ url_for('.set_locale', iso=iso) }}">
                                        {% if iso|iso_has_flag %}
                                            <img class="i18n_flag" alt="[{{ iso|iso_to_language_own_name }} flag]" src="{{url_for('static', filename='img/flags/' + iso + '_20x15.png')}}"> {{ iso|iso_to_language_own_name }}
                                        {% else %}
                                            {# TODO: CSS #}
                                            <div class="default_flag">{{ iso|iso_display_relabel }}</div> {{ iso|iso_to_language_own_name }}
                                        {% endif %}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                            {% include 'language_select.html' %}
                        </div>
                        {% block search_li_form %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </header>

        <div class="container" id="wrap">
            <div class="content">
                {% block content %}
                <div class="container-fluid">
                    <div class="row-fluid">
                        {% block layout %}
                            <div class="span9">
                                {% block content_left %}
                                {% endblock %}
                            </div>
                            <div class="span3">
                                {% block float_right %}
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                </div>
                {% endblock %}

            </div>
        </div>

        {% block footer_block %}
            {% if footer_template %}
                {{ footer_template|safe }}
            {% else %}
                {% include 'default_footer.html' %}
            {% endif %}
        {% endblock %}

        {% if new_mobile_nav %}
					    </div><!-- /scroller-inner -->
				    </div><!-- /scroller -->

			    </div><!-- /pusher -->
		    </div><!-- /container -->
        {% endif %}

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35664482-1']);
      _gaq.push(['_setDomainName', 'oahpa.no']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>    
    {% block footer_js %}
    {% endblock %}

    {% if new_mobile_nav %}
        {% assets "nav_menu_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
    {% endif %}

    {% block debug_text %}
        {% if debug_text %}
        <div id="debug_text" style="display: none;">{{ debug_text }}</div>
        <script type="text/javascript">
            $(document).ready(function(){
                console.log($('#debug_text').text());
            });
        </script>
        {% endif %}
    {% endblock %}

</body>

</html>
{# vim: set ts=4 sw=4 tw=0 syntax=htmljinja : #}
