{% extends 'base.html' %}

{% block extra_js %}
    {{ entry_template_header_includes|safe }}
{% endblock %}

{% block footer_js %}
        {# TODO: conditionally display with some developer setting #}

        {% include 'developer_test_palette.html' %}
{% endblock %}

{% block search_li %}
{% endblock %}

{% block search_li_form %}
{% endblock %}

{% block extra_nav %}
    {# Dictionaries #}
    {% include 'mobile_nav_dictionary_list.html' %}
{% endblock %}

{% block bodyclass %}main_search{% endblock %}

{%- set keyboard = false %}
{% if current_variant_options %}
    {% set keyboard = current_variant_options.onscreen_keyboard %}
{% endif -%}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        {% set nav_width = "span3" %}
        {% set letter_width = "span1" %}
        {% set dict_width = "span8" %}
        <div class="{{ nav_width }}  hidden-phone hidden-mid" id="left_nav">
            {% include 'left_dictionary_list.html' %}
        </div>
        <div class="{{ letter_width }}">
            <ul class="letters">
                {% for letter in letters %}
                    {% if letter.has_entries %}
                        {% set li_class = 'has_entries' %}
                        {% set link = "?letter=" + letter.letter %}
                    {% else %}
                        {% set li_class = 'no_entries' %}
                        {% set link = "#" %}
                    {% endif %}
                    <li class="{{ li_class }}"><a lang="{{ ui_lang }}" href="{{ link }}">{{ letter.letter }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="{{ dict_width }}">
            <h4 class="dict_title">
                {% if current_variant_options %}
                    <span>{% trans %}Browsing:{% endtrans %} {{ _from|iso_to_i18n }} ({{ gettext(current_variant_options.description) }}) → {{ _to|iso_to_i18n }}</span>
                {% else %}
                    <span>{% trans %}Browsing:{% endtrans %} {{ _from|iso_to_i18n }} → {{ _to|iso_to_i18n }}</span>
                {% endif %}
                {% if display_swap %}
                <span class="swaplink" style="font-size: 80%">(<a href="/{{ swap_from }}/{{ swap_to }}/">⇄ <span lang="{{ current_locale }}">{% trans %}Swap{% endtrans %}</span></a>)</span>
                {% endif %}
            </h4>

            {# figure out if there's a variant, and if the reverse has
            variants, because if mobile, we want to force mobile variant in
            swap #}

            <div class="row-fluid form-row">
                <div class="span8">
                    {# index_search_form|safe #}
                </div>
                <div class="span4 hidden-phone valign_block">
                    {# TODO: template here? #}
                    {% if analyses %}
                        <p class="analysis_note"><em lang="{{ _from }}">{{ user_input }}</em><span lang="{{ current_locale }}">{% trans user_input=user_input %} is a possible form of ... {% endtrans %}</span></p>
                    {% endif %}
                </div>
            </div>

            {# TODO: deep link needs to go to specific lexeme when it comes from the front page #}
            {% if successful_entry_exists %}
                <div class="pagination upper">
                    {% if prev_page %}
                        <a class="prev" href="?page={{ prev_page }}#end">
                            <span lang="{{ current_locale }}">
                                {% trans %}prev{% endtrans %}
                            </span>
                        </a>
                    {% else %}
                        <a class="prev no_prev" href="#">
                            <span lang="{{ current_locale }}">
                                &nbsp;
                            </span>
                        </a>
                    {% endif %}
                    <a class="next" href="?page={{ next_page }}">
                        <span lang="{{ current_locale }}">
                            {% trans %}next{% endtrans %}
                        </span>
                    </a>
                </div>

                <div class="results">
                    {% for tpl in entry_templates %}
                        {{ tpl|safe }}
                    {% endfor %}
                    <div id="end"></div>
                </div>

            {% else %}
                {% if no_more %}
                    <div class="alert alert-success">
                        <p class="lead">
                            <span lang="{{ current_locale }}">{% trans %}Congratulations! You have read the whole dictionary.{% endtrans %}</span>
                        </p>
                    </div>
                {% endif %}
            {% endif %}
            {% if show_info %}
                {{ search_info_template|safe }}
            {% endif %}
            <div class="pagination">
                {% if prev_page %}
                    <a class="prev" href="?page={{ prev_page }}">
                        <span lang="{{ current_locale }}">
                            {% trans %}prev{% endtrans %}
                        </span>
                    </a>
                {% else %}
                    <a class="prev no_prev" href="#">
                        <span lang="{{ current_locale }}">
                            &nbsp;
                        </span>
                    </a>
                {% endif %}
                <a class="next" href="?page={{ next_page }}">
                    <span lang="{{ current_locale }}">
                        {% trans %}next{% endtrans %}
                    </span>
                </a>
            </div>
        </div>
        
    </div>

</div>

{% endblock %}
