<div id="test_palette" style="display: none;" data-projname="{{ app_short_name }}">
    <a href="#" class="pull-right test_palette_toggle toggle_show">Bookmarks</a>
    <a href="#" class="pull-right test_palette_toggle toggle_hide" style="display: none;">Hide</a>
    <div id="test_content" style="display: none;">
        <h1>Favorites</h1>
        <ul id="test_list">
            <!--
            <li id="test_1">
                <a href="/detail/sms/fin/mõõnnâd.html">mõõnnâd</a>&nbsp;
                <a href="#" class="edit">(edit)</a>
                <a href="#" class="remove">(remove)</a>
            </li>
            -->
        </ul>
        <!-- TODO: ADD link -->

        <div id="palette_actions">
            <a href="#" class="btn add btn-small">+ add</a>
            <a href="#" class="btn edit_list btn-small">edit</a>
        </div>

        <div id="add_form" style="display: none;">
            <p class="note">These are saved in your browser. If you clear your browser history, they will be deleted.</p>
            Display text:
            <input type="text" name="text" autocorrect="off" autofocus="" autocapitalize="off" autocomplete="off" />
            Link: 
            <input type="link" name="link" autocorrect="off" autofocus="" autocapitalize="off" autocomplete="off" />
            <button type="submit">Add</button>
        </div>
    </div>
</div>
