{# This template is in flux-- this is the default maintained for projects not
   using the new template system. Ideally, do not change this, but upgrade
   projects to the new system and make changes in that structure.  #}
<form id="neahttasaanit" class="form-inline"
    action="{{ url_for('.canonical_root_search_pair', _from=_from, _to=_to) }}"> 
    
    <div class="input-append">
        <input type="text" 
               name="lookup" 
               autocorrect="off"
               autocapitalize="off"
               autocomplete="off"
               {% if current_pair_settings.autocomplete %}
               data-autocomplete-text="{% trans %}Press Tab to select a word{% endtrans %}"
               data-language-from="{{ _from }}"
               data-language-to="{{ _to }}"
               data-autocomplete-path="{{ url_for('.autocomplete', from_language=_from, to_language=_to) }}"
               {% endif %}
               {% if user_input -%}value="{{ user_input }}"{% endif %}
               placeholder="{% trans %}ohcansátni{% endtrans %}">
               {# TODO: show text search only if the dictionary supports this #}
               {% if current_pair_settings.wordform_search_url %}
                   <div class="btn-group display-phone hidden-desktop hidden-tablet">
                       <button type="submit" class="btn" name="search">
                           <span>{% trans %}Search{% endtrans %}</span>
                       </button>
                       <button class="btn dropdown-toggle" data-toggle="dropdown">
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><button 
                                   type="submit"
                                   class="btn"
                                   {# URLFOR #}
                                   formaction="/extern/{{ _from }}/{{ _to }}/korp_wordform/"
                                   lang="{{ current_locale }}"
                                   formmethod="post"
                                   formtarget="_blank">{% trans %}Search texts{% endtrans %} (Korp)</button></li>
                        </ul>
                   </div>
                   <button type="submit" class="btn hidden-phone" 
                           formtarget="_self"
                           {# URLFOR #}
                           formaction="/{{ _from }}/{{ _to }}/"
                           lang="{{ current_locale }}"
                           formmethod="post"
                           name="search">
                       <span lang="{{ current_locale }}">{% trans %}Search{% endtrans %}</span>
                   </button>
               {% else %}
                   <button type="submit" class="btn" name="search">
                       <span lang="{{ current_locale }}">{% trans %}Search{% endtrans %}</span>
                   </button>
              {% endif %}
       {% if current_pair_settings.wordform_search_url %}
           <button type="submit"
                   formaction="{{ url_for('.external_form_search', _from=_from, _to=_to, _search_type="korp_wordform") }}"
                   formmethod="post"
                   lang="{{ current_locale }}"
                   formtarget="_blank"
                   class="btn hidden-phone display-tablet korp_search" 
                   name="korp_search">
               {% trans %}Search texts{% endtrans %}
           </button>
       {% endif %}
    </div>
</form>
