{% extends 'base.html' %}

{% block extra_js %}
    {# https://gist.github.com/1866577 #}
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-typeahead-fork.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}

{% block search_li %}
{% endblock %}

{% block search_li_form %}
{% endblock %}

{% macro korp_link_lemma(lemma) -%}
{% if current_pair_settings.lemma_search_url -%}
    {% set search_url = current_pair_settings.lemma_search_url.replace('INPUT_LEMMA', lemma) %}
    <a class="korp_search lemma_action"
       href="{{ search_url }}">{% trans %}Texts{% endtrans %} &rarr;</a>
{%- endif %}
{%- endmacro %}

{% macro possible_analyses_grid(analyses) -%}
    <dl class="possible_analyses grid_analyses">
    {% for grouper, forms in analyses|groupby('lemma') %}
        {% for lemmagroup, lemmafs in forms|groupby('pos') %}
            {% if current_pair_settings.show_korp_search %}
                {% if lemmagroup and grouper %}
                    <dt>{{ grouper }} {{ korp_link_lemma(grouper) }}</dt>
                {% else %}
                    <dt>{{ grouper }}</dt>
                {% endif %}
            {% else %}
                <dt>{{ grouper }}</dt>
            {% endif %}
            <dd>
                <ul class="possible_forms">
                    {% for lem in lemmafs %}
                    <li>{{ ' '.join(lem.tag)|tagfilter(_from, _to) }}</li>
                    {% endfor %}
                </ul>
            </dd>
        {% endfor %}
    {% endfor %}
    </dl>
{%- endmacro %}

{% block extra_nav %}
{# Dictionaries #}
    <li class="display-phone hidden-tablet visible-mid hidden-desktop"><span>{% trans %}Dictionaries{% endtrans %}</span></li>
    {% for iso_pair, pair_options in language_pairs.iteritems() %}
        <li class="visible-thin visible-mid hidden-desktop hidden-tablet {%- if iso_pair[0] == _from and iso_pair[1] == _to %} active{% endif -%}">
            <a href="/{{ iso_pair[0] }}/{{ iso_pair[1] }}/">
                <span>{{ iso_pair[0]|iso_to_i18n }} → {{ iso_pair[1]|iso_to_i18n }}</span>
            </a></li>
            {% if pair_options.input_variants %}
                {% for variant in pair_options.input_variants %}
                    {% if iso_pair != (variant.short_name, iso_pair[1]) %}
                    <li class="visible-thin visible-mid hidden-desktop hidden-tablet {%- if variant.short_name == _from and iso_pair[1] == _to %} active{% endif -%}">
                    <a href="/{{ variant.short_name }}/{{ iso_pair[1] }}/">
                    <span>{{ variant.short_name|iso_to_i18n }} → {{ iso_pair[1]|iso_to_i18n }}</span>
                    </a></li>
                    {% endif %}
                {% endfor %}
            {% endif %}

        {% endfor %}
        <li class="visible-thin hidden-desktop hidden-tablet hidden-mid"><a href="/more/">{% trans %}Other dictionaries{% endtrans %}</a></li>
{% endblock %}

{% block bodyclass %}main_search{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span4 hidden-phone hidden-mid" id="left_nav">
            {% include 'left_dictionary_list.html' %}
        </div>
        <div class="span8">
            <h4 class="dict_title">
                <span>{{ _from|iso_to_i18n }} → {{ _to|iso_to_i18n }}</span>

                {# figure out if there's a variant, and if the reverse has
                variants, because if mobile, we want to force mobile variant in
                swap #}

                {# TODO: generalize swap #}
                {# TODO: reverse_has_variant is tricky #}
                <span class="swaplink" style="font-size: 80%">(<a href="/{{ swap_from }}/{{ swap_to }}/">⇄ {% trans %}Swap{% endtrans %}</a>)</span></h4>

            <div class="row-fluid form-row">
                <div class="span8">
                    {% include 'index_search_form.html' %}
                </div>
                <div class="span4 hidden-phone valign_block">
                    {% if analyses %}
                        <p class="analysis_note"><em>{{ user_input }}</em>{% trans user_input=user_input %} is a possible form of ... {% endtrans %}</p>
                    {% endif %}
                </div>
            </div>

            {# TODO: deep link needs to go to specific lexeme when it comes from the front page #}
            {% if word_searches %}
                <div class="results">
                        {% for lexeme in word_searches %}
                            {% if lexeme.lookups %}
                                {% for lookup in lexeme.lookups %}
                                    <div class="row-fluid entry_row">
                                        <div class="span8">

                                        <p>{{ lookup.source_formatted|safe }}

                                        {% if lookup.right|length == 1 %}
                                            <ul class="meanings">
                                        {% else %}
                                            <ol class="meanings">
                                        {% endif %}

                                        {%- for tx in lookup.right -%}
                                            <li>
                                                {%- include 'main_page_li.html' -%}
                                            </li>
                                        {%- endfor -%}

                                        {% if lookup.right|length == 1 %}
                                            </ul>
                                        {% else %}
                                            </ol>
                                        {% endif %}

                                        </div>
                                        <div class="span4 hidden-phone">
                                            {{ possible_analyses_grid(lookup.analyses) }}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% if errors %}
                                    <div class="alert">
                                        <ul>
                                            {% for error in errors %}
                                            <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        {% if not successful_entry_exists %}
                            <div class="span8">
                            <p>{% trans %}Definition not found for:{% endtrans %}</p>
                            <ul class="unknown_lexemes">
                            {% for lexeme in word_searches %}
                                <li>{{ lexeme.input }}</li>
                            {% endfor %}
                            </ul>
                            <p class="lead">&nbsp;</p>
                            </div>
                            <div class="span4 hidden-phone">
                                {{ possible_analyses_grid(analyses_without_lex) }}
                            </div>
                        {% else %}
                            <div class="row-fluid entry_row">
                                <div class="span8">
                                    <p class="lead">&nbsp;</p>
                                </div>
                                <div class="span4 hidden-phone">
                                    {{ possible_analyses_grid(analyses_without_lex) }}
                                </div>
                            </div>
                        {% endif %}

                        </div>

                    </div>
                </div>

                {%- if analyses %}
                <div class="visible-phone">
                    <div class="well">
                        <p style="font-size: 95%;"><em>{{ user_input }}</em>{% trans user_input=user_input %} is a possible form of ... {% endtrans %}</p>
                        <dl class="possible_analyses">
                            {% for grouper, forms in analyses|groupby(0) %}
                                {% for lemmagroup, lemmafs in forms|groupby(1) %}
                                    <dt>{{ lemmagroup }}</dt>
                                    <dt>
                                        <ul class="possible_forms">
                                            {% for form, lemma, tag in lemmafs %}
                                                <li>{{ ' '.join(tag)|tagfilter(_from, _to) }}</li>
                                            {% endfor %}
                                        </ul>
                                    </dd>
                                {% endfor %}
                            {% endfor %}
                        </dl>
                    </div>
                </div>
                {%- endif -%}
            {% else %}
                {% if not show_info %}
                <div class="alert alert-error">
                    <p>
                        <span>{% trans input=user_input %}Word {{ input }} not found.{% endtrans %}</span>
                    </p>
                </div>
                {% endif %}
            {% endif %}
            {% if show_info %}
                <div class="alert alert-success intro-note">
                    {% if _from == 'sme' %}
                    <p class="visible-phone visible-tablet visible-mid">
                        {% trans %}If you are using a device without a Sámi keyboard, consider using <a href="/SoMe/nob/">social media mode</a>, which allows you to type <em>acdnstz</em> for <em>áčđŋšŧž</em>.{% endtrans %}
                    </p>
                    {% endif %}
                    <p>
                        <span>{% trans %}Search for a word, or a word form for a word analysis and definition.{% endtrans %}</span>
                        {% if _from == "SoMe" %}
                        <br />
                        <br />
                        <span><strong>NB</strong>: {% trans %}You selected #SoMe, the variant for social media, which means that the letters acdnstz
                            will be accepted as áčđŋšŧž in addition to their usual values.{% endtrans %}</span>
                        {% endif %}
                    </p>
                </div>
            {% endif %}
        </div>
        
    </div>

</div>

{% endblock %}
