{% extends 'base.html' %}

{% block extra_js %}
    {# https://gist.github.com/1866577 #}
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-typeahead-fork.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>

    {% if grouped_nav %}

		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='navmenu/css/normalize.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='navmenu/css/icons.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='navmenu/css/component.css')}}" />

		{#
		    <link rel="stylesheet" type="text/css" href="css/demo.css" />
        #}

    {% endif %}

{% endblock %}

{% block footer_js %}
    {# push nav #}
	<script src="{{url_for('static', filename='navmenu/js/modernizr.custom.js')}}"></script>
	<script src="{{url_for('static', filename='navmenu/js/classie.js')}}"></script>
	<script src="{{url_for('static', filename='navmenu/js/mlpushmenu.js')}}"></script>
	{# TODO: namespace? #}
	<script>
		new mlPushMenu( document.getElementById( 'mp-menu' ), document.getElementById( 'trigger' ) );
	</script>
{% endblock %}

{% block search_li %}
{% endblock %}

{% block search_li_form %}
{% endblock %}

{% macro korp_link_lemma(lemma) -%}
{% if current_pair_settings.lemma_search_url -%}
    {% set search_url = current_pair_settings.lemma_search_url.replace('INPUT_LEMMA', lemma) %}
    <a class="korp_search lemma_action"
       href="{{ search_url }}">{% trans %}Texts{% endtrans %} &rarr;</a>
{%- endif %}
{%- endmacro %}

{% macro possible_analyses_grid(analyses) -%}
    <dl class="possible_analyses grid_analyses">
    {% for grouper, forms in analyses|groupby('lemma') %}
        {% for lemmagroup, lemmafs in forms|groupby('pos') %}
            {% if current_pair_settings.show_korp_search %}
                {% if lemmagroup and grouper %}
                    <dt>{{ grouper }} {{ korp_link_lemma(grouper) }}</dt>
                {% else %}
                    <dt>{{ grouper }}</dt>
                {% endif %}
            {% else %}
                <dt>{{ grouper }}</dt>
            {% endif %}
            <dd>
                <ul class="possible_forms">
                    {% set existing_tags = [] %}
                    {% for lem in lemmafs %}
                    {% set formatted_tag = ' '.join(lem.tag)|tagfilter(_from, _to) %}
                    {% if formatted_tag not in existing_tags %}
                        <li>{{ formatted_tag }}</li>
                        {% do existing_tags.append(formatted_tag) %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </dd>
        {% endfor %}
    {% endfor %}
    </dl>
{%- endmacro %}

{% block extra_nav %}
    {# Dictionaries #}
    {% include 'mobile_nav_dictionary_list.html' %}
{% endblock %}

{% block bodyclass %}main_search{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        {% if grouped_nav %}
            {% set nav_width = "span3" %}
            {% set dict_width = "span9" %}
        {% else %}
            {% set nav_width = "span4" %}
            {% set dict_width = "span8" %}
        {% endif %}
        <div class="{{ nav_width }}  hidden-phone hidden-mid" id="left_nav">
            {% include 'left_dictionary_list.html' %}
        </div>
        <div class="{{ dict_width }}">
            <h4 class="dict_title">
                {% if current_variant_options %}
                    <span>{{ _from|iso_to_i18n }} ({{ gettext(current_variant_options.description) }}) → {{ _to|iso_to_i18n }}</span>
                {% else %}
                    <span>{{ _from|iso_to_i18n }} → {{ _to|iso_to_i18n }}</span>
                {% endif %}
                {% if display_swap %}
                <span class="swaplink" style="font-size: 80%">(<a href="/{{ swap_from }}/{{ swap_to }}/">⇄ {% trans %}Swap{% endtrans %}</a>)</span>
                {% endif %}
            </h4>

            {# figure out if there's a variant, and if the reverse has
            variants, because if mobile, we want to force mobile variant in
            swap #}

            <div class="row-fluid form-row">
                <div class="span8">
                    {{ index_search_form|safe }}
                </div>
                <div class="span4 hidden-phone valign_block">
                    {% if analyses %}
                        <p class="analysis_note"><em>{{ user_input }}</em>{% trans user_input=user_input %} is a possible form of ... {% endtrans %}</p>
                    {% endif %}
                </div>
            </div>

            {# TODO: deep link needs to go to specific lexeme when it comes from the front page #}
            {% if word_searches %}
                <div class="results">
                    {% for tpl in new_templates %}
                        {{ tpl|safe }}
                    {% endfor %}
                    {% if leftover_analyses_template %}
                        <div class="row-fluid entry_row">
                            <div class="span8 lexeme">
                                &nbsp;
                            </div>
                            <div class="span4 hidden-phone">{{- leftover_analyses_template|safe -}}</div>
                        </div>
                    {% endif %}
                </div>

            {% else %}
                {% if not show_info %}
                <div class="alert alert-error">
                    <p>
                        <span>{% trans input=user_input %}Word {{ input }} not found.{% endtrans %}</span>
                    </p>
                </div>
                {% endif %}
            {% endif %}
            {% if show_info %}
                {{ search_info_template|safe }}
            {% endif %}
        </div>
        
    </div>

    {%- if analyses %}
    <div class="visible-phone">
        <div class="well">
            <p style="font-size: 95%;"><em>{{ user_input }}</em>{% trans user_input=user_input %} is a possible form of ... {% endtrans %}</p>

            {{ all_analysis_template|safe }}
        </div>
    </div>
    {%- endif -%}

</div>

{% endblock %}

