<form id="neahttasaanit" class="form-inline"
    method="post"
    action="/{{ _from }}/{{ _to }}/"> 
    
    <div class="input-append">
        <input type="text" 
               name="lookup" 
               autocorrect="off"
               autocapitalize="off"
               autocomplete="off"
               data-autocomplete-text="{% trans %}Press Tab to select a word{% endtrans %}"
               data-language-from="{{ _from }}"
               data-language-to="{{ _to }}"
               {% if user_input -%}value="{{ user_input }}"{% endif %}
               placeholder="{% trans %}ohcansátni{% endtrans %}"></input>
               {# TODO: show text search only if the dictionary supports this #}
               {% if current_pair_settings.wordform_search_url %}
                   <div class="btn-group display-phone hidden-desktop hidden-tablet">
                       <button type="submit" class="btn" name="search">
                           <span>{% trans %}Search{% endtrans %}</span>
                       </button>
                       <button class="btn dropdown-toggle" data-toggle="dropdown">
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><button 
                                   type="submit"
                                   class="btn"
                                   formaction="/extern/{{ _from }}/{{ _to }}/korp_wordform/"
                                   formmethod="post"
                                   formtarget="_blank">{% trans %}Search texts{% endtrans %} (Korp)</button></li>
                        </ul>
                   </div>
                   <button type="submit" class="btn hidden-phone" 
                           formtarget="_self"
                           formaction="/{{ _from }}/{{ _to }}/"
                           formmethod="post"
                           name="search">
                       <span>{% trans %}Search{% endtrans %}</span>
                   </button>
               {% else %}
                   <button type="submit" class="btn" name="search">
                       <span>{% trans %}Search{% endtrans %}</span>
                   </button>
              {% endif %}
    </div>
   {% if current_pair_settings.wordform_search_url %}
       <button type="submit"
               formaction="/extern/{{ _from }}/{{ _to }}/korp_wordform/"
               formmethod="post"
               formtarget="_blank"
               class="btn hidden-phone display-tablet korp_search" 
               name="korp_search">
           {% trans %}Search texts{% endtrans %}
       </a>
   {% endif %}
</form>

