{% extends 'base.html' %}

{% block extra_css %}

{% if iphone %}
    <script type="text/javascript" src="{{url_for('static', filename='js/mobile-bookmark-bubble.js')}}"></script>
<script type="text/javascript">
window.addEventListener('load', function() {
  window.setTimeout(function() {
    var bubble = new google.bookmarkbubble.Bubble();

    var parameter = 'bmb=1';

    bubble.hasHashParameter = function() {
      return window.location.hash.indexOf(parameter) != -1;
    };

    bubble.setHashParameter = function() {
      if (!this.hasHashParameter()) {
        window.location.hash += parameter;
      }
    };

    bubble.getViewportHeight = function() {
      window.console.log('Example of how to override getViewportHeight.');
      return window.innerHeight;
    };

    bubble.getViewportScrollY = function() {
      window.console.log('Example of how to override getViewportScrollY.');
      return window.pageYOffset;
    };

    bubble.registerScrollHandler = function(handler) {
      window.console.log('Example of how to override registerScrollHandler.');
      window.addEventListener('scroll', handler, false);
    };

    bubble.deregisterScrollHandler = function(handler) {
      window.console.log('Example of how to override deregisterScrollHandler.');
      window.removeEventListener('scroll', handler, false);
    };

    bubble.showIfAllowed();
  }, 1000);
}, false);

</script>
{% endif %}

{# https://gist.github.com/1866577 #}
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-typeahead-fork.js')}}"></script>
<script type="text/javascript">


// For Firefox: reenable buttons when back button is pressed
$(window).bind("unload", function() {
    $('input').attr('readonly', false);
    $('button').attr('disabled', false);
});

$(document).ready( function() {
    $('input[name="lookup"]').typeahead({
        items: 5,
        source: function (typeahead, query) {
            if (query.length > 1) {
                var _from = typeahead.$element.attr('data-language-from')
                    , _to = typeahead.$element.attr('data-language-to')
                    , url = '/autocomplete/' + _from + '/' + _to + '/'
                    ;
                return $.get(url, { lookup: query }, function (data) {
                    return typeahead.process(data);
                });
            } else {
                return [] ;
            }
        }
    });
    $('input').focus(function(evt) {
        $('input').attr('readonly', false);
        $('button').attr('disabled', false);
    });
    // Discourage submission if there is nothing to submit
    $('form').submit(function(evt) {
        var inputs = $(evt.target).find('input[type="text"]')
          , submit = $(evt.target).find('button[type="submit"]')
          ;
        for (_i = 0, _len = inputs.length; _i < _len; _i++) {
            i = inputs[_i];
            if ($(i).val().length === 0) {
                return false;
            } else {
                continue;
            }
        }
        inputs.prop("readonly", true);
        submit.prop("disabled", true);
    });

    {#
    $('.example_set button').click(function(evt) {
    	var target = $(evt.target).parents('.example_set')
    	                          .find('blockquote.examples') ;
    	console.log(target) ;
    	if (target.hasClass('hidden-phone')) {
    	    target.hide();
    	    target.removeClass('hidden-phone') ;
    	    target.slideDown() ;
    	} else {
    	    target.slideUp(400, function(){
    	        target.hide();
    	        target.addClass('hidden-phone') ;
    	    }) ;
    	}
    });
    #} 
});
</script>

{% endblock %}

{% block search_li %}
{% endblock %}

{% block search_li_form %}
{% endblock %}

{% block extra_nav %}
        {# Dictionaries #}
        {% for iso_pair, names in language_pairs.iteritems() %}
            <li class="visible-thin hidden-desktop hidden-tablet {%- if iso_pair[0] == _from and iso_pair[1] == _to %} active{% endif -%}">
                <a href="/{{ iso_pair[0] }}/{{ iso_pair[1] }}/">
                <span>{{ iso_pair[0]|iso_to_i18n }} → {{ iso_pair[1]|iso_to_i18n }}</span>
                </a></li>
        {% endfor %}
        <li class="visible-thin hidden-desktop hidden-tablet"><a href="/more/">{% trans %}Other dictionaries{% endtrans %}</a></li>
{% endblock %}

{% block bodyclass %}main_search{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span4 hidden-phone">
                <ul class="nav nav-collapse nav-tabs nav-stacked">
                {% for iso_pair, names in language_pairs.iteritems() %}
                    {% if iso_pair[0] != "SoMe" %}
                        <li class="{%- if iso_pair[0] == _from and iso_pair[1] == _to %} active{% endif -%}">
                            <a href="/{{ iso_pair[0] }}/{{ iso_pair[1] }}/">
                            <span>{{ iso_pair[0]|iso_to_i18n }} → {{ iso_pair[1]|iso_to_i18n }}</span>
                            </a>
                        </li>
                    {% endif %}
                    {# Start a new nav if there are variants #}
                    {# TODO: include in mobile menu somehow #}
                    {# TODO: make this work from config settings, for now hard-coded #}
                    {%- if iso_pair[0] in ['sme', 'SoMe'] and iso_pair[1] == 'nob' and iso_pair[0] == _from and iso_pair[1] == _to %}
                    </ul>
                    <span class="nav-header variantnote">{% trans %}Written variant{% endtrans %}</span>
                    <ul class="nav nav-collapse nav-tabs nav-stacked subnavcoloring">
                        <li{% if _from == "sme" %} class="active"{% endif %}><a href="/sme/nob/">{% trans %}Standard (<em>áčđŋšŧž</em>){% endtrans %}</a></li>
                        <li{% if _from == "SoMe" %} class="active"{% endif %}><a href="/SoMe/nob/">{% trans %}Social Media (incl. <em>acdnstz</em>){% endtrans %}</a></li>
                    </ul>
                    <ul class="nav nav-collapse nav-tabs nav-stacked">
                    {%- endif -%}


                    {%- if iso_pair[0] in ['sme', 'SoMe'] and iso_pair[1] == 'fin' and iso_pair[0] == _from and iso_pair[1] == _to %}
                    </ul>
                    <span class="nav-header variantnote">{% trans %}Written variant{% endtrans %}</span>
                    <ul class="nav nav-collapse nav-tabs nav-stacked subnavcoloring">
                        <li{% if _from == "sme" %} class="active"{% endif %}><a href="/sme/nob/">{% trans %}Standard (<em>áčđŋšŧž</em>){% endtrans %}</a></li>
                        <li{% if _from == "SoMe" %} class="active"{% endif %}><a href="/SoMe/fin/">{% trans %}Social Media (incl. <em>acdnstz</em>){% endtrans %}</a></li>
                    </ul>
                    <ul class="nav nav-collapse nav-tabs nav-stacked">
                    {%- endif -%}
                {% endfor %}
                </ul>
                <p><a href="/more/" class="other_link">{% trans %}Other dictionaries{% endtrans %}</a></p>
            </div>
            <div class="span8">
                <h4 id="dict_title">{%- for iso_pair, names in language_pairs.iteritems() %}
                    {% if iso_pair[0] == _from and iso_pair[1] == _to %}
                    <span>{{ iso_pair[0]|iso_to_i18n }} → {{ iso_pair[1]|iso_to_i18n }}</span>
                    {% endif %}
                    {% endfor -%}
                    <span style="font-size: 80%">(<a href="/{{ _to }}/{{ _from }}/">⇄ {% trans %}Swap{% endtrans %}</a>)</span></h4>

                <form id="neahttasaanit" class="form-inline"
                    method="post"
                    action="/{{ _from }}/{{ _to }}/">
                    <div class="input-append">
                        <input type="text" 
                               name="lookup" 
                               autocorrect="off"
                               autocapitalize="off"
                               autocomplete="off"
                               data-language-from="{{ _from }}"
                               data-language-to="{{ _to }}"
                               {% if user_input -%}value="{{ user_input }}"{% endif %}
                               placeholder="{% trans %}ohcansátni{% endtrans %}"></input>
                               <button type="submit" class="btn" name="search">
                                   <span>{% trans %}Search{% endtrans %}</span>
                               </button>
                    </div>
                </form>

                {# TODO: deep link needs to go to specific lexeme when it comes from the front page #}
                {% if word_searches %}
                    <div class="results">
                        <div class="row-fluid">
                            <span class="span8">
                            {% for lexeme in word_searches %}
                            {% if lexeme.lookups %}
                                {% for lookup in lexeme.lookups %}
                                    {% if _from == "SoMe" %}
                                        {% set link_target = "/detail/sme/%s/%s.html?e_node=%s" % (_to, lookup.left, lookup.entry_hash) %}
                                    {% else %}
                                        {% set link_target = "/detail/%s/%s/%s.html?e_node=%s" % (_from, _to, lookup.left, lookup.entry_hash) %}
                                    {% endif %}

                                    <p>{{ lookup.source_formatted|sneak_in_link(link_target)|safe }}

                                    <ol>{%- for tx in lookup.right -%}
                                            <li>
                                                {%- include 'main_page_li.html' -%}
                                            </li>
                                        {%- endfor -%}
                                    </ol>
                                {% endfor %}
                            {% else %}
                                {% if errors %}
                                    <div class="alert">
                                        <ul>
                                            {% for error in errors %}
                                            <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            {% endif %}

                            {% endfor %}
                            {% if not successful_entry_exists %}
                                <p>{% trans %}Definition not found for:{% endtrans %}</p>
                                <ul class="unknown_lexemes">
                                {% for lexeme in word_searches %}
                                    <li>{{ lexeme.input }}</li>
                                {% endfor %}
                                </ul>
                                <p class="lead">&nbsp;</p>
                            {% endif %}
                            </span>

                            <div class="span4">
                                {%- if analyses %}
                                <div class="well">
                                    <p style="font-size: 95%;"><em>{{ user_input }}</em>{% trans user_input=user_input %} is a possible form of ... {% endtrans %}</p>
                                    <dl class="possible_analyses">
                                        {% for grouper, forms in analyses|groupby(0) %}
                                            {% for lemmagroup, lemmafs in forms|groupby(1) %}
                                                <dt>{{ lemmagroup }}</dt>
                                                <dt>
                                                    <ul class="possible_forms">
                                                        {% for form, lemma, tag in lemmafs %}
                                                            <li>{{ ' '.join(tag)|tagfilter(_from, _to) }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                </dd>
                                            {% endfor %}
                                        {% endfor %}
                                    </dl>
                                </div>
                                {%- endif -%}
                            </div>

                        
                        </div>
                    </div>
                {% else %}
                    {% if not show_info %}
                    <div class="alert alert-error">
                        <p>
                            <span>{% trans input=user_input %}Word {{ input }} not found.{% endtrans %}</span>
                        </p>
                    </div>
                    {% endif %}
                {% endif %}
                {% if show_info %}
                    <div class="alert alert-success">
                        {% if _from == 'sme' %}
                        <p class="visible-phone visible-tablet">
                            {% trans %}If you are using a device without a Sámi keyboard, consider using <a href="/SoMe/nob/">social media mode</a>, which allows you to type <em>acdnstz</em> for <em>áčđŋšŧž</em>.{% endtrans %}
                        </p>
                        {% endif %}
                        <p>
                            <span>{% trans %}Search for a word, or a word form for a word analysis and definition.{% endtrans %}</span>
                            {% if _from == "SoMe" %}
                            <br />
                            <br />
                            <span><strong>NB</strong>: {% trans %}You selected #SoMe, the variant for social media, which means that the letters acdnstz
                                will be accepted as áčđŋšŧž in addition to their usual values.{% endtrans %}</span>
                            {% endif %}
                        </p>
                    </div>
                {% endif %}
            </div>
            
        </div>

    </div>

    </div>
    <br />
{% endblock %}
