
    <ul id="i18n_translations" class="nav nav-pills pull-right hidden-phone">
      <li class="dropdown">
        <a class="dropdown-toggle"
           data-toggle="dropdown"
           href="#">
            {% trans %}<span class="reposition_hide">Language</span>{% endtrans %}
            {% for iso in internationalizations %}
                <img class="i18n_flag" src="{{url_for('static', filename='img/flags/' + iso + '_20x15.png')}}"></img>
            {% endfor %}
            <b class="caret"></b>
          </a>
        <ul class="dropdown-menu">
            {% for iso in internationalizations %}
            <li><a href="/locale/{{ iso }}/">
                <img class="i18n_flag" src="{{url_for('static', filename='img/flags/' + iso + '_20x15.png')}}"></img> {{ iso|iso_to_language_own_name }}</a></li>
            {% endfor %}
        </ul>
      </li>
    </ul>

