{# This is solely for rendering the search variants for any given pair, and
   this template is included within the nav <ul />, which means that in order
   to create the variant list, that unordered list must be closed and a new one
   opened.
#}

{% if pair_options.search_variants %}
    {# TODO: current variant 'active' class #}

    {# Only display if the pair is the current one the user is looking at #}
    {%- if iso_pair[0] == _from and iso_pair[1] == _to or orig_pair == iso_pair %}
        </ul>

        <span class="nav-header variantnote" lang="{{ current_locale }}">{% trans %}Search type{% endtrans %}</span>
        <ul class="nav nav-collapse nav-tabs nav-stacked subnavcoloring">
            <li {% if not current_search_variant %}class="active"{% endif %}>
                <a href="{{ url_for('.canonical_root_search_pair', _from=_from, _to=_to) }}">{% trans %}Word search{% endtrans %}</a>
            </li>

            {% for variant in pair_options.search_variants %}
                {# /v/eng/crk/keyword/?lookup=wander #}
                <li{% if current_search_variant.type == variant.type %} class="active"{% endif %}>
                    <a href="{{ url_for('.language_pair_variant_search', _from=_from, _to=_to, variant_type=variant.type) }}">{{ gettext(variant.description)|safe }}{% if variant.example %} {{ gettext(variant.example)|safe }}{% endif %}</a>
                </li>
            {% endfor %}

        </ul>

        {# create a <ul /> for the main nav again #}
        <ul class="nav nav-collapse nav-tabs nav-stacked">

    {%- endif -%}
{%- endif -%}

