{%- macro render_pair_blocks(grouped_items) -%}
    {%- for iso_pair, pair_options in grouped_items -%}
            {%- if pair_options.input_variants -%}
                {% set pair_has_variant = true  %}
            {%- else -%}
                {% set pair_has_variant = false %}
            {%- endif -%}

            {% set active_pair = false %}
            {%- if not is_variant %}
                {%- if iso_pair[0] == _from and iso_pair[1] == _to %}
                    {% set active_pair = true %}
                    {% set nav_classes = "active nav nav-collapse nav-tabs nav-stacked" %}
                {% else -%}
                    {% set nav_classes = "nav nav-collapse nav-tabs nav-stacked" %}
                {% endif -%}
            {% elif is_variant -%}
                {%- if iso_pair[1] == orig_pair[1] and iso_pair[0] == orig_pair[0] %}
                    {% set nav_classes = "active nav nav-collapse nav-tabs nav-stacked" %}
                    {% set active_pair = true %}
                {% else -%}
                    {% set nav_classes = "nav nav-collapse nav-tabs nav-stacked" %}
                {% endif -%}
            {% else -%}
                {% set nav_classes = "nav nav-collapse nav-tabs nav-stacked" %}
            {% endif -%}


            <ul class="{{ nav_classes }}">

                {% if not is_variant %}
                    {%- if iso_pair[0] == _from and iso_pair[1] == _to %}
                        <li class="active">
                    {% else -%}
                        <li>
                    {% endif -%}
                {% elif is_variant -%}
                    {%- if iso_pair[1] == orig_pair[1] and iso_pair[0] == orig_pair[0] %}
                        <li class="active">
                    {% else -%}
                        <li>
                    {% endif -%}
                {% else -%}
                    <li>
                {% endif %}
                    <a href="/{{ iso_pair[0] }}/{{ iso_pair[1] }}/" class="block_title">
                        <span>{{ iso_pair[0]|iso_to_i18n }} &rarr; {{ iso_pair[1]|iso_to_i18n }}</span>
                    </a>
                </li>

                {# Start a new nav if there are variants #}
                {% if pair_has_variant and active_pair %}
                    </ul>
                    <span class="nav-header variantnote">{% trans %}Written variant{% endtrans %}</span>
                    <ul class="nav nav-collapse nav-tabs nav-stacked subnavcoloring">
                    {# Only display if the pair is the current one the user is looking at #}
                    {%- if iso_pair[0] == _from and iso_pair[1] == _to or orig_pair == iso_pair %}
                        {% for variant in pair_options.input_variants %}
                           	<li {% if _from == variant.short_name %} class="active"{% endif %}>
                                <a href="/{{ variant.short_name }}/{{ _to }}">{{ gettext(variant.description)|safe }}{% if variant.example %} {{ gettext(variant.example)|safe }}{% endif %}</a>
                            </li>
                        {% endfor %}
                    {%- endif -%}
                    </ul>
                {%- endif -%}
    {% endfor %}
    </ul>
{%- endmacro -%}

{#  <div class="container-fluid" id="language_grouped_nav"> #}
<div class="container-fluid" id="language_grouped_nav">
{% for iso_group, grouped_items in language_pairs_grouped_by_source.iteritems() %}
    {# TODO: active pair bug for _from lang when _from is a variant #}
    {% if iso_group == _from or iso_group == _to %}
        {% set active_group = "active-group" %}
    {% else %}
        {% set active_group = "inactive-group" %}
    {% endif %}
    <h5 class="{{ active_group }}-title"><a href="#" data-iso-group="{{ iso_group }}" class="expander">{{ iso_group|iso_to_language_own_name }} <span class="inactive-placeholder label label-grey">+</span></a></h5>
    <div class="expander-group row-fluid {{ active_group }}" data-iso-expander="{{ iso_group }}">
    {{ render_pair_blocks(grouped_items) }}
            {#
        {% set source_items = grouped_items|filter_pairs_by_source(iso_group) %}
        {{ render_pair_blocks(source_items) }}
    </div>
    <div class="span6">
        {% set target_items = grouped_items|filter_pairs_by_target(iso_group) %}
        {{ render_pair_blocks(target_items) }}
    </div>
    #}
</div>
{% endfor %}

</div>
<script type="text/javascript">
    $(document).ready( function(){
    	$('h5.inactive-group-title a.expander').click( function(e) {
    		var expander_group = $(e.target).attr('data-iso-group');
    		var expander_target = "div.expander-group[data-iso-expander='" + expander_group + "']" ;
    		$('div.expander-group.inactive-group').slideUp();
    		$(expander_target).slideToggle();

    	    e.preventDefault();
    	});
    });
</script>

{# vim: set ts=4 sw=4 tw=0 syntax=htmljinja : #}
