<li class="display-phone hidden-tablet visible-mid hidden-desktop"><span>{% trans %}Dictionaries{% endtrans %}</span></li>

{%- if grouped_nav -%}
    {% for iso_group, grouped_items in language_pairs_grouped_by_source.iteritems() %}
        <li class="display-phone hidden-tablet visible-mid hidden-desktop language-group"><span>{{ iso_group|iso_to_language_own_name }}</span></li>

        {%- for iso_pair, pair_options in grouped_items -%}
            <li class="visible-thin visible-mid hidden-desktop hidden-tablet {%- if iso_pair[0] == _from and iso_pair[1] == _to %} active{% endif -%}">
                <a href="/{{ iso_pair[0] }}/{{ iso_pair[1] }}/" class="block_title">
                    <span>{{ iso_pair[0]|iso_to_i18n }} &rarr; {{ iso_pair[1]|iso_to_i18n }}</span>
                </a>
            </li>

            {# TODO: display variants in a different way #}
            {% if pair_options.input_variants %}
                {% for variant in pair_options.input_variants %}
                    {% if iso_pair != (variant.short_name, iso_pair[1]) %}
                    <li class="visible-thin visible-mid hidden-desktop hidden-tablet {%- if variant.short_name == _from and iso_pair[1] == _to %} active{% endif -%}">
                    <a href="/{{ variant.short_name }}/{{ iso_pair[1] }}/">
                    <span>{{ variant.short_name|iso_to_i18n }} → {{ iso_pair[1]|iso_to_i18n }}</span>
                    </a></li>
                    {% endif %}
                {% endfor %}
            {% endif %}

        {% endfor %}
    {% endfor %}
{% else %}
    {% for iso_pair, pair_options in language_pairs.iteritems() %}
        <li class="visible-thin visible-mid hidden-desktop hidden-tablet {%- if iso_pair[0] == _from and iso_pair[1] == _to %} active{% endif -%}">
            <a href="/{{ iso_pair[0] }}/{{ iso_pair[1] }}/">
                <span>{{ iso_pair[0]|iso_to_i18n }} → {{ iso_pair[1]|iso_to_i18n }}</span>
            </a></li>
            {% if pair_options.input_variants %}
                {% for variant in pair_options.input_variants %}
                    {% if iso_pair != (variant.short_name, iso_pair[1]) %}
                    <li class="visible-thin visible-mid hidden-desktop hidden-tablet {%- if variant.short_name == _from and iso_pair[1] == _to %} active{% endif -%}">
                    <a href="/{{ variant.short_name }}/{{ iso_pair[1] }}/">
                    <span>{{ variant.short_name|iso_to_i18n }} → {{ iso_pair[1]|iso_to_i18n }}</span>
                    </a></li>
                    {% endif %}
                {% endfor %}
            {% endif %}

    {% endfor %}
{%- endif -%}

<li class="visible-thin hidden-desktop hidden-tablet hidden-mid"><a href="/more/">{% trans %}Other dictionaries{% endtrans %}</a></li>
