<li class="display-phone hidden-tablet visible-mid hidden-desktop"><span lang="{{ current_locale }}">{% trans %}Dictionaries{% endtrans %}</span></li>

{%- if grouped_nav -%}
    {% for iso_group, grouped_items in language_pairs_grouped_by_source.iteritems() %}
        <li class="display-phone hidden-tablet visible-mid hidden-desktop language-group"><span lang="{{ iso_group }}">{{ iso_group|iso_to_language_own_name }}</span></li>

        {%- for l_iso_pair, l_pair_options in grouped_items -%}
            <li class="visible-thin visible-mid hidden-desktop hidden-tablet {%- if l_iso_pair[0] == _from and l_iso_pair[1] == _to %} active{% endif -%}">
                <a href="{{ url_for('.canonical_root_search_pair', _from=l_iso_pair[0], _to=l_iso_pair[1]) }}" class="block_title">
                    <span>{{ l_iso_pair[0]|iso_to_i18n }} &rarr; {{ l_iso_pair[1]|iso_to_i18n }}</span>
                </a>
            </li>

            {# TODO: display variants in a different way #}
            {% if l_pair_options.input_variants %}
                {% for l_variant in l_pair_options.input_variants %}
                    {% if l_iso_pair != (l_variant.short_name, l_iso_pair[1]) %}
                    <li class="visible-thin visible-mid hidden-desktop hidden-tablet {%- if l_variant.short_name == _from and l_iso_pair[1] == _to %} active{% endif -%}">
                    <a href="{{ url_for('.canonical_root_search_pair', _from=l_variant.short_name, _to=l_iso_pair[1]) }}">
                    <span>{{ l_variant.short_name|iso_to_i18n }} → {{ l_iso_pair[1]|iso_to_i18n }}</span>
                    </a></li>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {# TODO here #}

        {% endfor %}
    {% endfor %}
{% else %}
    {% for l_iso_pair, l_pair_options in language_pairs.iteritems() %}
        <li class="visible-thin visible-mid hidden-desktop hidden-tablet {%- if l_iso_pair[0] == _from and l_iso_pair[1] == _to %} active{% endif -%}">
            <a href="{{ url_for('.canonical_root_search_pair', _from=l_iso_pair[0], _to=l_iso_pair[1]) }}">
                <span>{{ l_iso_pair[0]|iso_to_i18n }} {% if l_pair_options.search_variants %}({% trans %}Word search{% endtrans %}) {% endif %} → {{ l_iso_pair[1]|iso_to_i18n }}</span>
            </a></li>
            {% if l_pair_options.input_variants %}
                {% for l_variant in l_pair_options.input_variants %}
                    {% if l_iso_pair != (l_variant.short_name, l_iso_pair[1]) %}
                    <li class="visible-thin visible-mid hidden-desktop hidden-tablet {%- if l_variant.short_name == _from and l_iso_pair[1] == _to %} active{% endif -%}">
                    <a href="{{ url_for('.canonical_root_search_pair', _from=l_variant.short_name, _to=l_iso_pair[1]) }}">
                        <span>{{ l_variant.short_name|iso_to_i18n }} ({{ l_variant.description }}) → {{ l_iso_pair[1]|iso_to_i18n }}</span>
                    </a></li>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if l_pair_options.search_variants %}
                {% for l_variant in l_pair_options.search_variants %}
                    {% if l_iso_pair != (l_variant.short_name, l_iso_pair[1]) %}
                    <li class="visible-thin visible-mid hidden-desktop hidden-tablet {%- if l_variant.short_name == _from and l_iso_pair[1] == _to %} active{% endif -%}">
                    <a href="{{ url_for('.language_pair_variant_search', _from=l_iso_pair[0], _to=l_iso_pair[1], variant_type=l_variant.type) }}">
                        <span>{{ l_iso_pair[0]|iso_to_i18n }} ({{ gettext(l_variant.description)|safe }}) &rarr; {{ l_iso_pair[1]|iso_to_i18n }}
                    </a></span></li>
                    {% endif %}
                {% endfor %}
            {% endif %}

    {% endfor %}
{%- endif -%}

<li class="visible-thin hidden-desktop hidden-tablet hidden-mid"><a href="{{ url_for('.more_dictionaries') }}" lang="{{ current_locale }}">{% trans %}Other dictionaries{% endtrans %}</a></li>
