<p class="lead" style="font-size: 120%">{% trans %}
Your web browser is supported, however, you will need to change some
options for the Neahttadigisánit Reader to work.
{% endtrans %}
</p>

<h3>Instructions</h3>
<ol>
    <li><strong>Click</strong> on the <strong>Tools</strong> menu.</li>
    <li>When the new window appears, click on the <strong>Advanced</strong> tab.</li>
    <li><strong>Scroll down</strong> in the list until you find "Display Accelerator Button on Selection."</li>
    <li><strong>Uncheck</strong> this option.</li>
    <li>Click <strong>OK</strong> to save the new settings.</li>
    <li><strong>Reload</strong> the page, and click on the Neahttadigisánit Reader bookmark again.</li>
</ol>

<p>If you continue to have problems, please <a href="http://giellatekno.uit.no/Giellatekno.nob.html">contact us</a> with detailed instructions about what you are doing when you have problems.</p>

