{% extends 'reader_test_page.html' %}

{% block reader_tests %}
<div class="row-fluid">
    <div class="span3">
        <h3>yrk</h3>
    </div>
    <div class="span9">
        <p>glotal stop marked by (U+2019) as a word character</p>
        <ul>
            <li>мя’’на’’</li>
        </ul>
        <p>spellrelax test (NB: click on separate parts of the words to test)</p>
        <ul>
            <li>Ӈавэ’’ пирка’’на мунодо’ суса’’.</li>
            <li>Пэвдя пихиня си’’ми ни’’ манэс’’.</li>
            <li>Мэта мя’’на’’ мюня’’тетва’’.</li>
            <li>Та’ мальӈгана ӈокаюв’ хибярина ныланасьтыд’, ныланавандо’ сер ӈани’’ ян’ тэворцеты’’.</li>
        </ul>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <h3>&nbsp;</h3>
    </div>
</div>

<div class="row-fluid">
    <div class="span3">
        <h3>fin</h3>
    </div>
    <div class="span9">
        <ul>
            <li>test case</li>
            <li>test case</li>
            <li>test case</li>
            <li>test case</li>
        </ul>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <h3>&nbsp;</h3>
    </div>
</div>

{% endblock %}
