{% extends 'reader_test_page.html' %}

{% block reader_tests %}
<div class="row-fluid">
    <div class="span3">
        <h3>myv</h3>
    </div>
    <div class="span9">
        <p>random text from Chesnokov 1932 in Erzya</p>
        <ul>
            <li>мезекс, мейсь, мекс, мезть</li>
        </ul>
        <p>Some interrogatives</p>
        <ul>
            <li>Мезекс сонензэ неть молитватне, сонзэ ней улить мазый валонзо.</li>
            <li>Эзь чаркоде Маря, мейсь покордавсь авазо.</li>
            <li>— Тынсь чумотадо, — кармась таго Карпа, — мекс эзиде яка советэнь пурнамо...</li>
            <li>— Сёвномс а мезть, Микол леляй...</li>
        </ul>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <h3>&nbsp;</h3>
    </div>
</div>

<div class="row-fluid">
    <div class="span3">
        <h3>myv</h3>
    </div>
    <div class="span9">
        <p>Hyphenation</p>
        <p><em>NB:</em> check also that serial verbs return multiple analyses.</p>
        <ul>
            <li>ярсат-симат</li>
        </ul>
    </div>
</div>


<div class="row-fluid">
    <div class="span3">
        <h3>mdf</h3>
    </div>
    <div class="span9">
        <p>The verb ёрамс in combinations with -ms and -mda infinitives from the same small text (Valentin Mishania, Moksha 1972 №2 38) in Moksha</p>
        <ul>
            <li>ёран</li>
        </ul>
        <p>Some verbs</p>

        <ul>
            <li>Ашень кеподев теест, эрявсь лездомс.</li>
            <li>Сяльде мялезень петемс сон рамась самолёткя.</li>
            <li>А мезе кда рамась, аньцек налхксемс, а мон ёран лиендемс.</li>
            <li>Тяни ёран тиемда оцю самолёт, аньцек коданга аф лисенди.</li>
        </ul>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <h3>&nbsp;</h3>
    </div>
</div>

{% endblock %}
