{% extends 'reader_test_page.html' %}

{% block reader_tests %}
<div class="row-fluid">
    <div class="span3">
        <h3>yrk</h3>
    </div>
    <div class="span9">
        <ul>
            <li>test case</li>
            <li>test case</li>
            <li>test case</li>
            <li>test case</li>
        </ul>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <h3>&nbsp;</h3>
    </div>
</div>

<div class="row-fluid">
    <div class="span3">
        <h3>fin</h3>
    </div>
    <div class="span9">
        <ul>
            <li>test case</li>
            <li>test case</li>
            <li>test case</li>
            <li>test case</li>
        </ul>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <h3>&nbsp;</h3>
    </div>
</div>

{% endblock %}
