<html>
    <head>
        <meta charset="UTF-8">
        <link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" />
        
    </head>
    <body>
        <div style="padding: 3px;">
        <h4>{{ input }}</h4>
        <ul>
        {% for lookup in result %}
            {% if lookup.lookups %}
                {% for l in lookup.lookups %}
                <li><em>{{ l.left }}</em> ({{ ''.join(l.pos) }}) - {{ ', '.join(l.right) }}</li>
                {% endfor %}
            {% endif %}
        {% endfor %}
        </div>
    </body>
</html>
