{% extends 'base.html' %}
{% import 'macros.html' as macros with context %}

{% block bodyclass %}word_detail{% endblock %}

{% block extra_js %}
    {{ entry_template_header_includes|safe }}
{% endblock %}

{# Construct some useful share information for the meta title #}
{% macro definition_string(r) -%}
    {%- for lexeme in r -%}
        {%- set context = lexeme.context -%}
        {{ lexeme.source_formatted|safe }} &mdash; {% for tx in lexeme.right -%}
            {%- if tx.target_formatted_unlinked -%}
                {%- for t in tx.target_formatted_unlinked -%}{{ t }}{% if not loop.last %}, {% endif %}{% endfor -%}
            {%- else -%}{%- if tx.re %} ({% for annotation in tx.re %}{{ annotation }}{% endfor %}){% endif -%}{% endif -%}
        {%- endfor -%}
    {%- if not loop.last %}; {% endif %}
    {%- endfor -%}
{%- endmacro -%}

{% block og_meta_description -%}
    <meta property="og:description" content="{{ definition_string(result) }}" />
{%- endblock %}

{% block og_url_path %}/detail/{{ _from }}/{{ _to }}/{{ user_input }}.html{% endblock %}

{% block float_right %}
    {%- if result.analyses %}
    <div class="well">
        {% if app_short_name != 'itwewina' %}
            <strong>{{ result.input }} {% trans %}is a possible form of ... {% endtrans %}</strong>
        {% endif %}
        <dl class="possible_analyses">
            {% for grouper, forms in result.analyses|groupby(0) %}
                <dt>{{ grouper }}</dt>
                <dd>
                    <ul class="possible_forms">
                        {% for lemma, pos, tag in forms %}
                            <li>{{ tag|tagfilter(_from, _to) }}</li>
                        {% endfor %}
                    </ul>
                </dd>
            {% endfor %}
        </dl>
    </div>
    {%- endif -%}
{% endblock %}

{% block content %}
    <div class="row-fluid">
       <div class="span8">
           <form id="neahttadigisanit" class="form-inline pull-left"
               method="post"
               action="/{{ _from }}/{{ _to }}/">
           <div class="input-prepend input-append">
             <div class="btn-group">
               <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                   <span class="val_name">{{ _from }}→{{ _to }}</span>
                 <span class="caret"></span>
               </button>
               <ul class="dropdown-menu" id="langpairs" role="menu"
                   data-for="target_lang">

                {# TODO: i18n #}
                {# TODO: dropdown select to language pair for form submit #}
                {% for iso_pair, pair_options in language_pairs.iteritems() %}
                 <li class="selected{%- if iso_pair[0] == _from and iso_pair[1] == _to %} active{% endif -%}"><a tabindex="-1" href="#"
                         data-value="{{ iso_pair[0]}}-{{ iso_pair[1] }}">
                        <span lang="{{ current_locale }}">{{ iso_pair[0]|iso_to_i18n }} ↔ {{ iso_pair[1]|iso_to_i18n }}</span>
                    </a></li>
                    {% if pair_options.input_variants %}
                        {% for variant in pair_options.input_variants %}
                            {% if iso_pair != (variant.short_name, iso_pair[1]) %}
                                 <li class="selected{%- if variant.short_name == _from and iso_pair[1] == _to %} active{% endif -%}"><a tabindex="-1" href="#"
                                         data-value="{{ variant.short_name}}-{{ iso_pair[1] }}">
                                        <span lang="{{ current_locale }}">{{ variant.short_name|iso_to_i18n }} ↔ {{ iso_pair[1]|iso_to_i18n }}</span>
                                    </a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
               </ul>
             </div>
             <input type="text" name="lookup"
                    autocorrect="off"
                    autocapitalize="off"
                    placeholder="{{ user_input }}"></input>
             <div class="btn-group">
               <button type="submit" type="button" class="btn" name="search">
                   <span lang="{{ current_locale }}">{% trans %}Search{% endtrans %}</span>
               </button>
             </div>
           </div>
          <div id="results"></div>
        </form>
       </div>
       <div class="span3 offset1 hidden-phone valign_block">
           {% if has_analyses and app_short_name != 'itwewina'%}
               <p class="analysis_note"><em lang="{{ _from }}">{{ user_input }}</em><span lang="{{ current_locale }}">{% trans user_input=user_input %} is a possible form of ... {% endtrans %}</span></p>
           {% endif %}
       </div>
       <br />
    </div>

    {% if current_pair_settings.asynchronous_paradigms %}
        <div ng-app="NDS">
    {% else %}
        <div>
    {% endif %}

        {% for tpl in entry_templates %}
            {{ tpl|safe }}
        {% endfor %}
        <div class="row-fluid entry_row">
            <div class="span3 offset9 hidden-phone">
               {% if analyses_without_entry %}
                   {{ analyses_without_entry|safe }}
               {% endif %}
           </div>
       </div>

    {% if current_pair_settings.asynchronous_paradigms %}
        </div>
    {% else %}
        </div>
    {% endif %}


    {% if more_detail_link %}
        <p>
            <a href="/detail/{{ _from }}/{{ _to }}/{{ user_input }}.html">
                <span lang="{{ current_locale }}">{% trans %}More information about this word{% endtrans %}</span>
            </a>
        </p>
    {% endif %}

    {%- if analyses %}
    <div class="visible-phone">
        <div class="well">
            <p style="font-size: 95%;"><em lang="{{ _from }}">{{ user_input }}</em><span lang="{{ current_locale }}">{% trans user_input=user_input %} is a possible form of ... {% endtrans %}</span></p>

            {{ all_analysis_template|safe }}
        </div>
    </div>
    {%- endif -%}


{% endblock %}
