{% extends 'base.html' %}

{% block extra_css %}
<link href="{{url_for('static', filename='css/detail.css')}}" rel="stylesheet" />
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-typeahead-fork.js')}}"></script>
<!-- <script type="text/javascript" src="{{url_for('static', filename='js/dropdown-button.js')}}"></script> -->
<script type="text/javascript">
  $(document).ready( function() {
    $('input[name="lookup"]').typeahead({
      items: 5,
      source: function (typeahead, query) {
        var _from = $(document).find('#neahttadigisanit').attr('action').split('/')[1]
          , _to   = $(document).find('#neahttadigisanit').attr('action').split('/')[2]
          , url = '/autocomplete/' + _from + '/' + _to + '/'
          ;
        if (query.length > 1) {
          return $.get(url, { lookup: query }, function (data) {
            return typeahead.process(data);
          });
        } else {
          return [] ;
        }
      }
    });

   $(document).find('#langpairs li a').click(function(obj) {
     var elem    = $(obj.target).parent('a');
     var new_val = $(obj.target).attr('data-value') ||
                   $(elem).attr('data-value') ;
     var _from = new_val.split('-')[0]
       , _to   = new_val.split('-')[1]
       ;
     var _url   = "/" + (_from) + "/" + (_to) + "/"
       , _label = "" + (_from) + " → " + (_to)
       ;
     $(document).find('#neahttadigisanit button span.val_name').html(_label);
     $(document).find('#neahttadigisanit').attr('action', _url);
   });

  });
  $(document).keypress(function(event) {
    // console.log(event.which);
    // alt+shift+ + or ¿
    if ( event.which == 191 ) {
       $('.debug-hidden').toggle();
     }
  });
</script>
{% endblock %}

{% block float_right %}
    {%- if result.analyses %}
    <div class="well">
        <strong>{{ result.input }} {% trans %}is a possible form of ... {% endtrans %}</strong>
        <dl class="possible_analyses">
            {% for grouper, forms in result.analyses|groupby(0) %}
                <dt>{{ grouper }}</dt>
                <dd>
                    <ul class="possible_forms">
                        {% for lemma, pos, tag in forms %}
                            <li>{{ pos|tagfilter(_from, _to) }} {{ tag|tagfilter(_from, _to) }}</li>
                        {% endfor %}
                    </ul>
                </dd>
            {% endfor %}
        </dl>
    </div>
    {%- endif -%}
{% endblock %}

{% block content_left %}
    <div class="row-fluid">
       <div class="span12">
           <form id="neahttadigisanit" class="form-inline pull-left"
               method="post"
               action="/{{ _from }}/{{ _to }}/">
           <div class="input-prepend input-append">
             <div class="btn-group">
               <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                   <span class="val_name">{{ _from }}→{{ _to }}</span>
                 <span class="caret"></span>
               </button>
               <ul class="dropdown-menu" id="langpairs" role="menu"
                   data-for="target_lang">

                {# TODO: i18n #}
                {# TODO: dropdown select to language pair for form submit #}
                {% for iso_pair, names in language_pairs.iteritems() %}
                 <li class="selected{%- if iso_pair[0] == _from and iso_pair[1] == _to %} active{% endif -%}"><a tabindex="-1" href="#"
                         data-value="{{ iso_pair[0]}}-{{ iso_pair[1] }}">
                        <span>{{ iso_pair[0]|iso_to_i18n }} ↔ {{ iso_pair[1]|iso_to_i18n }}</span>
                    </a></li>
                {% endfor %}
               </ul>
             </div>
             <input type="text" name="lookup"
                    autocorrect="off"
                    autocapitalize="off"
                    placeholder="{{ user_input }}"></input>
             <div class="btn-group">
               <button type="submit" type="button" class="btn" name="search">
                   <span>{% trans %}Search{% endtrans %}</span>
               </button>
             </div>
           </div>
          <div id="results"></div>
        </form>
       </div>
       <br />
    </div>

    {% for lexeme in result.lexicon %}
    <div class="row-fluid lexeme">
        {% if lexeme.entries %}
            <div class="span12">
                {# This is the non-mobile version, otherwise we display it below #}
                {% set context = lexeme.entries.lemma_context %}
                {% if lexeme.paradigms %}
                    <div class="pull-right hidden-phone floatingparadigm">
                        {% include 'detail_paradigm_dl.html' %}
                    </div>
                {% endif %}
                {% if lexeme.input[1] %}
                    <p class="lead">{{ lexeme.input[0] }} ({{ lexeme.input[1]|tagfilter(_from, _to) }}) </p>
                {% else %}
                    <p class="lead">{{ lexeme.input[0] }} ({{ lexeme.entries.lookups[0].pos|tagfilter(_from, _to) }}) </p>
                {% endif %}

                <ul class="meanings">
                    {% for mg in lexeme.entries.meaningGroups %}
                        <li>{% include 'word_detail_li.html' %}</li>
                    {% endfor %}
                </ul>

                {# This is the non-mobile version, otherwise we display it below #}
                {% set context = lexeme.entries.lemma_context %}
                {% if lexeme.paradigms %}
                    <div class="pull-left visible-phone">
                        {% include 'detail_paradigm_dl.html' %}
                    </div>
                {% endif %}
            </div>


        {% endif %}
        
    </div>
    {% endfor %}

    <div id="xml-debug" class="debug-hidden" style="display: none;">
        <h4>XML Entries</h4>
        {% for node_text in result.node_texts %}
        <pre><code>{{ node_text }}</code></pre>
        {% endfor %}
    </div>
    
    <style>
        /* Responsive tests
        ------------------------- */
        .responsive-utilities-test {
          margin-top: 5px;
          margin-left: 0;
          list-style: none;
          overflow: hidden; /* clear floats */
        }
        .responsive-utilities-test li {
          position: relative;
          float: left;
          width: 25%;
          height: 43px;
          font-size: 14px;
          font-weight: bold;
          line-height: 43px;
          color: #999;
          text-align: center;
          border: 1px solid #ddd;
          -webkit-border-radius: 4px;
             -moz-border-radius: 4px;
                  border-radius: 4px;
        }
        .responsive-utilities-test li + li {
          margin-left: 10px;
        }
        .responsive-utilities-test span {
          position: absolute;
          top:    -1px;
          left:   -1px;
          right:  -1px;
          bottom: -1px;
          -webkit-border-radius: 4px;
             -moz-border-radius: 4px;
                  border-radius: 4px;
        }
        .responsive-utilities-test span {
          color: #468847;
          background-color: #dff0d8;
          border: 1px solid #d6e9c6;
        }
    </style>

    <div id="responsive_test" class="debug-hidden" style="display: none;">
        <h3>Responsive test</h3>
        <h4>Visible on...</h4>
        <ul class="responsive-utilities-test">
          <li>Phone<span class="visible-phone">&#10004; Phone</span></li>
          <li>Tablet<span class="visible-tablet">&#10004; Tablet</span></li>
          <li>Desktop<span class="visible-desktop">&#10004; Desktop</span></li>
        </ul>
        <h4>Hidden on...</h4>
        <ul class="responsive-utilities-test hidden-on">
          <li>Phone<span class="hidden-phone">&#10004; Phone</span></li>
          <li>Tablet<span class="hidden-tablet">&#10004; Tablet</span></li>
          <li>Desktop<span class="hidden-desktop">&#10004; Desktop</span></li>
        </ul>
    </div>

    {% if more_detail_link %}
        <p>
            <a href="/detail/{{ _from }}/{{ _to }}/{{ user_input }}.html">
                <span>{% trans %}More information about this word{% endtrans %}</span>
            </a>
        </p>
    {% endif %}

{% endblock %}
