{% extends 'base.html' %}

{% block extra_css %}
    <link href="{{url_for('static', filename='css/detail.css')}}" rel="stylesheet" />
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-typeahead-fork.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/detail.js')}}"></script>

{# Not actually in use
    <script type="text/javascript" src="{{url_for('static', filename='js/dropdown-button.js')}}"></script> 
#}
{% endblock %}

{% block float_right %}
    {%- if result.analyses %}
    <div class="well">
        <strong>{{ result.input }} {% trans %}is a possible form of ... {% endtrans %}</strong>
        <dl class="possible_analyses">
            {% for grouper, forms in result.analyses|groupby(0) %}
                <dt>{{ grouper }}</dt>
                <dd>
                    <ul class="possible_forms">
                        {% for lemma, pos, tag in forms %}
                            <li>{{ tag|tagfilter(_from, _to) }}</li>
                        {% endfor %}
                    </ul>
                </dd>
            {% endfor %}
        </dl>
    </div>
    {%- endif -%}
{% endblock %}

{% block content %}
    <div class="row-fluid">
       <div class="span8">
           <form id="neahttadigisanit" class="form-inline pull-left"
               method="post"
               action="/{{ _from }}/{{ _to }}/">
           <div class="input-prepend input-append">
             <div class="btn-group">
               <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                   <span class="val_name">{{ _from }}→{{ _to }}</span>
                 <span class="caret"></span>
               </button>
               <ul class="dropdown-menu" id="langpairs" role="menu"
                   data-for="target_lang">

                {# TODO: i18n #}
                {# TODO: dropdown select to language pair for form submit #}
                {% for iso_pair, pair_options in language_pairs.iteritems() %}
                 <li class="selected{%- if iso_pair[0] == _from and iso_pair[1] == _to %} active{% endif -%}"><a tabindex="-1" href="#"
                         data-value="{{ iso_pair[0]}}-{{ iso_pair[1] }}">
                        <span>{{ iso_pair[0]|iso_to_i18n }} ↔ {{ iso_pair[1]|iso_to_i18n }}</span>
                    </a></li>
                    {% if pair_options.input_variants %}
                        {% for variant in pair_options.input_variants %}
                            {% if iso_pair != (variant.short_name, iso_pair[1]) %}
                                 <li class="selected{%- if variant.short_name == _from and iso_pair[1] == _to %} active{% endif -%}"><a tabindex="-1" href="#"
                                         data-value="{{ variant.short_name}}-{{ iso_pair[1] }}">
                                        <span>{{ variant.short_name|iso_to_i18n }} ↔ {{ iso_pair[1]|iso_to_i18n }}</span>
                                    </a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
               </ul>
             </div>
             <input type="text" name="lookup"
                    autocorrect="off"
                    autocapitalize="off"
                    placeholder="{{ user_input }}"></input>
             <div class="btn-group">
               <button type="submit" type="button" class="btn" name="search">
                   <span>{% trans %}Search{% endtrans %}</span>
               </button>
             </div>
           </div>
          <div id="results"></div>
        </form>
       </div>
       <div class="span3 offset1 hidden-phone valign_block">
           {% if has_analyses %}
               <p class="analysis_note"><em>{{ user_input }}</em>{% trans user_input=user_input %} is a possible form of ... {% endtrans %}</p>
           {% endif %}
       </div>
       <br />
    </div>

    {% for lexeme in result %}
    <div class="row-fluid">
        <div class="span8 lexeme">
            {# This is the non-mobile version, otherwise we display it below #}
            {% set context = lexeme.context %}
            {% if lexeme.paradigm %}
                <div class="pull-right hidden-phone floatingparadigm">
                    {% include 'detail_paradigm_dl.html' %}
                </div>
            {% endif %}

            <p class="lead">{{ lexeme.source_formatted|safe }}</p>

            {% if lexeme.right|length == 1 %}
                <ul class="meanings">
            {% else %}
                <ol class="meanings">
            {% endif %}

            {% for tx in lexeme.right %}
                <li>{% include 'word_detail_li.html' %}</li>
            {% endfor %}

            {% if lexeme.right|length == 1 %}
                </ul>
            {% else %}
                </ol>
            {% endif %}

            {# This is the non-mobile version, otherwise we display it below #}
            {% set context = lexeme.context %}
            {% if lexeme.paradigm %}
                <div class="pull-left visible-phone">
                    {% include 'detail_paradigm_dl.html' %}
                </div>
            {% endif %}
        </div>

        <div class="span3 offset1 hidden-phone">
            <dl class="possible_analyses grid_analyses">
            {% for grouper, forms in lexeme.analyses|groupby(0) %}
                {% for lemmagroup, lemmafs in forms|groupby(0) %}
                    {% if current_pair_settings.show_korp_search %}
                        {# http://gtweb.uit.no/korp/#search-tab=0&search=cqp|[lemma = "dagai"] [pos = "V"]&page=0
                         #}
                         {% if lemmagroup and grouper %}
                            {% set search_url = "http://gtweb.uit.no/korp/#search-tab=0&page=0&search=" %}
                            {% set search_query = 'cqp|[lemma = "' + grouper + '"] [pos = "' + lemmagroup + '"]' %}
                            <dt>{{ grouper }} <a class="korp_search lemma_action detail" href="{{ search_url }}{{ search_query|urlencode }}">{% trans %}Texts{% endtrans %} &rarr;</a></dt>
                        {% else %}
                            <dt>{{ grouper }}</dt>
                        {% endif %}
                    {% else %}
                        <dt>{{ grouper }}</dt>
                    {% endif %}
                    <dd>
                        <ul class="possible_forms">
                            {% for lem, tag in lemmafs %}
                                <li>{{ tag }}</li>
                            {% endfor %}
                        </ul>
                    </dd>
                {% endfor %}
            {% endfor %}
            </dl>
        </div>

    </div>
    {% endfor %}
    
    {% if more_detail_link %}
        <p>
            <a href="/detail/{{ _from }}/{{ _to }}/{{ user_input }}.html">
                <span>{% trans %}More information about this word{% endtrans %}</span>
            </a>
        </p>
    {% endif %}

{% endblock %}
