@font-face {
  font-family: 'Noto Sans Cherokee';
  src: url('NotoSansCherokee-Regular.eot'); /* IE9 Compat Modes */
  src: url('NotoSansCherokee-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('NotoSansCherokee-Regular.woff') format('woff'), /* Modern Browsers */
       url('NotoSansCherokee-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('NotoSansCherokee-Regular.svg#5e6b37c1aaf3f13be451316d3772bf56') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

