{% extends 'base.html' %}

{% block title %}
 - {% trans %}Neahttadigisánit{% endtrans %} debug info
{% endblock %}

{% block meta_title %}
<meta name="title" content="Neahttadigisánit debug info">
{% endblock %}

{% block extra_js %}
{% endblock %}

{# TODO: 
  http://getbootstrap.com/2.3.2/javascript.html#collapse

  or 

  http://getbootstrap.com/2.3.2/javascript.html#scrollspy
#}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8">
            <h3>Language-specific rules for {{ lang_name }}</h3>
        </div>
    </div>

    {% if paradigms %}
        <div class="row-fluid">
            <div class="span8">
                <h3>Paradigms for {{ lang_name }}</h3>
            </div>
        </div>

        {% for pos, tags in paradigms.items() %}
        <div class="row-fluid">
            <div class="span2">
                <strong>{{ pos }}</strong>
            </div>
            <div class="span10">
                <ul>
                    {% for t in tags %}
                    <li>{{ t }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    {% endif %}

    {% if mparadigms %}
        <div class="row-fluid">
            <div class="span8">
                <h3>Paradigms for {{ lang_name }}</h3>
                <p>NB: these default paradigms may be overriden by functions below...</p>
            </div>
        </div>

        {% for paradigm in mparadigms %}
        <div class="row-fluid">
            <div class="span6">
                <strong>{{ paradigm.name }}</strong>
                <br />
                <em>{{ paradigm.basename }}</em>
                <br />
                <br />
            </div>
            <div class="span6">
                <strong>Rule formulation</strong>
                <ul>
                    {% for k, v in paradigm.condition.rule_def.items() %}
                        {% if k == 'name' %}
                            {% continue %}
                        {% endif %}
                        {% if v is mapping %}
                            <li>{{ k }}: 
                                <ul>
                                    {% for kk, vv in v.items() %}
                                        <li>{{ kk }}: {{ vv }}</li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                        <li>{{ k }}: {{ v }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <code><pre>{{ paradigm.template|template_lines|truncate(300, True, "... \n(see source for more)") }}</pre></code>
            </div>
        </div>
        {% endfor %}
    {% endif %}

    {% for l in generation_docs %}
        <div class="row-fluid">
            <div class="span8">
                <h3>Paradigm override functions {{ l.name }}</h3>
            </div>
        </div>

        {% for func in l.functions %}
        <div class="row-fluid">
            <div class="span3">
                {{ func.name }}
            </div>
            <div class="span9">
                <pre>
                {{ func.doc|trim|safe }}
                </pre>
            </div>
        </div>
        {% endfor %}
    {% endfor %}

    {% for l in pregen_doc %}
        <div class="row-fluid">
            <div class="span8">
                <h3>Pregenerated form selection {{ l.name }}</h3>
            </div>
        </div>

        {% for func in l.functions %}
        <div class="row-fluid">
            <div class="span3">
                {{ func.name }}
            </div>
            <div class="span9">
                <pre>
                {{ func.doc|trim|safe }}
                </pre>
            </div>
        </div>
        {% endfor %}
    {% endfor %}

    {% for l in postgen_doc %}
        <div class="row-fluid">
            <div class="span8">
                <h3>Post-generation overrides {{ l.name }}</h3>
            </div>
        </div>

        {% for func in l.functions %}
        <div class="row-fluid">
            <div class="span3">
                {{ func.name }}
            </div>
            <div class="span9">
                <pre>
                {{ func.doc|trim|safe }}
                </pre>
            </div>
        </div>
        {% endfor %}
    {% endfor %}

    {% for l in postanalysis_doc %}
        <div class="row-fluid">
            <div class="span8">
                <h3>Post-analysis overrides {{ l.name }}</h3>
            </div>
        </div>

        {% for func in l.functions %}
        <div class="row-fluid">
            <div class="span3">
                {{ func.name }}
            </div>
            <div class="span9">
                <pre>
                {{ func.doc|safe }}
                </pre>
            </div>
        </div>
        {% endfor %}
    {% endfor %}

    <div class="row-fluid">
        <div class="span8">
            <h3>Template Structure</h3>
            <p>These are the templates that have been customized for this
            project. Documentation is encouraged, as some customizations may
            not be able to be covered by unittests.</p>
            <p>To include documentation in a template, define it: <code>{% raw %}{% block template_doc %}Blah blah blah{% endblock %}{% endraw %}</code></p>

            <h4>{{ lang_name }}-specific overrides</h4>
            {% for lang, templates in app.lexicon_templates.language_templates.items() %}
                {% if lang != lang_name %}
                    {% continue %}
                {% endif %}
                <ul>
                    {% set proj_templates = [] %}
                    {% for t in app.lexicon_templates.project_templates.values() %}
                        {% do proj_templates.append(t.path) %}
                    {% endfor %}
                    {% for ttkey, tmpl in templates.items() %}
                        {% if tmpl.path not in proj_templates %}
                        <li>{{ app_short_name }}/{{ lang_name }}/{{ ttkey }}
                                {% if 'template_doc' in tmpl.blocks %}
                                    <pre><code>{{- tmpl|render_block(tmpl.blocks['template_doc']) -}}</code></pre>
                                {% else %}
                                    <blockquote>Write some template documentation. </blockquote>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </div>

    <div class="row-fluid">
        <div class="span8">
            <h3>User-friendly tags</h3>
            <p>NB: these default paradigms may be overriden by functions below...</p>
        </div>
    </div>

    {% for langpair, tags in tag_transforms.items() %}
    <div class="row-fluid">
        <div class="span2">
            <strong><a href="#">{{ langpair[0] }} &rarr; {{ langpair[1] }}</a></strong>
        </div>
        <div class="span10">
            <ul>
                {% for d, t in tags.items() %}
                <li>{{ d }} &rarr; {{ t }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}


</div>

{% endblock %}


