{% extends 'base.html' %}

{% block title %}
- {% trans %}Neahttadigisánit{% endtrans %} debug info
{% endblock %}

{% block meta_title %}
<meta name="title" content="Neahttadigisánit debug info">
{% endblock %}

{% block extra_js %}
{% endblock %}

{# TODO: 
http://getbootstrap.com/2.3.2/javascript.html#collapse

or 

http://getbootstrap.com/2.3.2/javascript.html#scrollspy
#}

{% block content %}
<div class="container-fluid">
<div class="row-fluid">
    <div class="span8">
        <h3>Language-specific rules for {{ short_name }}</h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span8">
        <h3>Language index</h3>
        <ul>
            {% for language, name in config.languages.items() %}
                <li><a href="{{ url_for('.config_doc', from_language=language) }}">{{ language }}</a></li>
                {% endfor %}
            </ul>
            
        </div>
    </div>

    <div class="row-fluid">
        <div class="span8">
            <h3>Template Structure</h3>
            <p>These are the templates that have been customized for this
            project. Documentation is encouraged, as some customizations may
            not be able to be covered by unittests.</p>
            <p>To include documentation in a template, define it: <code>{% raw %}{% block template_doc %}{% if TEMPLATE_DOC %}Blah blah blah{% endif %}{% endblock %}{% endraw %}</code>. Note that without the if statement, the docs will appear in the dictionary.</p>

            <h4>Project-level template customizations</h4>
            <ul>
                {% set default_paths = [] %}
                {% for t in app.lexicon_templates.default_templates.values() %}
                    {% do default_paths.append(t.path) %}
                {% endfor %}
                {% for tkey, template in app.lexicon_templates.project_templates.items() %}
                    {% if template.path not in default_paths %}
                        <li>{{ app_short_name }}/{{ tkey }}
                            {% if 'template_doc' in template.blocks %}
                                <pre><code>{{- template|render_block(template.blocks['template_doc']) -}}</code></pre>
                            {% else %}
                                <blockquote>Write some template documentation. </blockquote>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

        {# comment %}
        for lang, temps in self.language_templates.items():
            print u'      %s/' % lang

            for k, f in temps.items():
                if f.path not in [p.path for p in self.project_templates.values()]:
                    print u'      + ' + k
                else:
                    print u'        ' + k

            print
        {% endcomment #}

            
        </div>
    </div>


</div>

{% endblock %}



