{% macro korp_link_lemma(lemma) -%}
{% if current_pair_settings.lemma_search_url -%}
    {% set search_url = current_pair_settings.lemma_search_url.replace('INPUT_LEMMA', lemma) %}
    <a class="korp_search lemma_action"
       href="{{ search_url }}" lang="{{ current_locale }}">{% trans %}Texts{% endtrans %} &rarr;</a>
{%- endif %}
{%- endmacro %}

{% macro korp_link_lemma_detail(lemma) -%}
{% if current_pair_settings.lemma_search_url -%}
    {% set search_url = current_pair_settings.lemma_search_url.replace('INPUT_LEMMA', lemma) %}
    <a class="korp_search lemma_action"
       href="{{ search_url }}" lang="{{ current_locale }}">{% trans %}Texts{% endtrans %} &rarr;</a>
{%- endif %}
{%- endmacro %}


{% macro possible_analyses_grid(analyses) -%}
    <dl class="possible_analyses grid_analyses">
    {% for grouper, forms in analyses|groupby('lemma') %}
        {% for lemmagroup, lemmafs in forms|groupby('pos') %}
            {% if current_pair_settings.show_korp_search %}
                {% if lemmagroup and grouper %}
                    <dt><span lang="{{ _from }}">{{ grouper }}</span> {{ korp_link_lemma(grouper) }}</dt>
                {% else %}
                    <dt><span lang="{{ _from }}">{{ grouper }}</span></dt>
                {% endif %}
            {% else %}
                <dt><span lang="{{ _from }}">{{ grouper }}</span></dt>
            {% endif %}
            <dd>
                <ul class="possible_forms">
                    {% set existing_tags = [] %}
                    {% for lem in lemmafs %}
                    {% set formatted_tag = ' '.join(lem.tag)|tagfilter(_from, _to) %}
                    {% if formatted_tag not in existing_tags %}
                        <li>{{ formatted_tag }}</li>
                        {% do existing_tags.append(formatted_tag) %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </dd>
        {% endfor %}
    {% endfor %}
    </dl>
{%- endmacro %}
