{% extends 'base.html' %}

{% block title -%}{% trans project_name=app_name %}Privacy notice{% endtrans %} :: {% endblock %}

{% block meta_title %}
<meta name="title" content="Privacy notice">
{% endblock %}

{% block meta_description %}
    <meta name="description" content="Our privacy notice.">
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span6 offset2">
        <h3 lang="{{ current_locale }}">{% trans project_name=app_name %}Privacy notice{% endtrans %}</h3>
            <p lang="{{ current_locale }}">{% trans %}Neahttadigisánit does not store any personally identifiable information. Local storage is used to remember your preferred TTS voice.{% endtrans %}</p>
            <p lang="{{ current_locale }}">{% trans %}We keep logs of the words searched for to improve the dictionaries and for research purposes.{% endtrans %} {% trans %}The logs contain searched-for words, the dictionary pair used, and the date and time the word was searched for.{% endtrans %}</p>
            <p lang="{{ current_locale }}">{% trans %}Please note that by entering text into the search field an autocomplete lookup is performed. Thus, such text will also end up in the server logs, even if the search button was never pressed.{% endtrans %}</p>
        </div>
    </div>

</div>

{% endblock %}
