{% extends 'base.html' %}

{% block extra_js %}
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-modal.js')}}"></script>
<script type="text/javascript">
    $(document).ready(function(){
            // "MSIE 8.0"
            var uagent = navigator.userAgent ;

            $('p#browser_version').html(navigator.userAgent);

            $('#notifications').modal({
                backdrop: true,
                keyboard: true,
                // TODO: get hostname automatically
                remote: 'http://{{ hostname }}/read/ie8_instructions/',
            }) ;

            $('#close_modal').click(function() {
                $('#notifications').modal('hide');
            }) ;
    });
</script>

{% endblock %}

{% block content %}
{# Modal alert block #}
<div class="modal hide fade" id="notifications">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{% trans %}Additional instructions{% endtrans %}</h3>
    </div>
    <div class="modal-body"><!-- Text here will be fetched from external page --></div>
    <div class="modal-footer">
    {# TODO: checkbox for 'do not show this again', store this in localStorage #}
    <a href="#" class="btn btn-primary" id="close_modal">Continue</a>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <h3>Test Cases</h3>
        <p class="label" id="bookmarklet"><a href="javascript:{{- bookmarklet|safe -}}">NDS Reader sanit.oahpa.no - unminified</a></p>
        <br />
        <p class="label" id="bookmarklet"><a href="javascript:{{- bookmarklet_local|safe -}}">NDS Reader localhost:5000 - unminified</a></p>
    </div>
    <div class="row-fluid">
        <h3>Browser version</h3>
        <p id="browser_version"></p>
    </div>
    <div class="row-fluid">
        <div class="span3">
            <h3>fin</h3>
        </div>
        <div class="span9">
            <p><strong>Lappeenranta</strong>. Smirnov, Rostov, Nikolajev, Pestov, Golovina. Venäläiset nimet vilisevät Kaakkois-Suomen käräjäoikeuksien juttulistoilla.</p>
            <p>Venäläisten tekemien rikosten lisääntyminen on johtanut kaakossa erityisjärjestelyihin. Kymenlaakson ja Etelä-Karjalan käräjäoikeuksien erikoisuutena ovat pari kertaa vuodessa järjestettävät suorahaastopäivät. Niiden aikana käsitellään pelkästään sellaisia rikoksia, joista venäläiset on haastettu oikeuteen suoraan rajalta.</p>
            <p>Vilkkaan rajaliikenteen ja venäläisyrittäjien kasvavien Suomen-bisnesten lieveilmiöt työllistävät myös tullia, rajavartiostoa, poliisia ja ulosottoviranomaisia.</p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <h3>&nbsp;</h3>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3">
            <h3>sme</h3>
        </div>
        <div class="span9">
            <p><strong>Heargevuodjimis Álttás mannan lávvardaga, lei Team Nils Jøran birgetmeahttun go sin vuoddji John Inge Eira vujii herggiin Visain vuosttaš sadjái, ja herggiin Silbačuoivvagiin nuppi sadjái.</strong></p>
            <p>Dán jagi lágiduvvui maid heargevuodjingilvu vázzingáhtas guovdu Álttá márkana sámi dálvefestivála oktavuođas. Sihke vuosttaš ja nubbi vuoiti, golli ja silba, manai Team Nils Jøranii.</p>
            <p>– Visain (herggiin) ádjánin 15.9 sekundda vuodjit 201 mehtera ja Silbačuoivvagiin ádjánin 16.4 sekundda vuodjit, muitala vuoddji John Inge Eira.&nbsp;</p>
            <p>Boahtte vahkkoloahpa gilvalit Oulus máilmmi falimus herggiiguin ruhtavuoittu alde.</p>
            <p>– Duppal vuoitu dáhpáhuvvá oalle hárve. Oba somá, moddjá John Inge Eira.&nbsp;</p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <h3>&nbsp;</h3>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3">
            <h3>sma</h3>
        </div>
        <div class="span9">
            <p>Jaepien 2006 tjidtjebe sealadi jïh jaepien mænngan Snåaseste juhtim. Dellie eelkim oktebisnie jarkoestæjjine barkedh, jïh baalte lim lohkehtæjjine Upmejen universiteetesne bielietïjjen. Bene gosse oktebisnie jarkoestæjjine barkeme aktem jaepiem, dle tuhtjim lij buerebe orreme gïeline barkedh daajroes baalhkine jïh barkoetïjjine, juktie dellie syökim jïh barkoem åadtjoejim goh gïelekonsulente Snåasen tjïeltesne. Daate barkoe tseegkesovvi gosse Snåase jaepien 2008 raejeste meatan sjïdti reeremedajvesne saemien gïelide.</p>
            <p>Fer soejmilaakan jåhta åarjelsaemien learoevierhtieh darjodh. Fer vaenie mah maahtoem utnieh learoevierhtieh darjodh, jïh jeenjesh dejstie lohkehtæjjijste ajve bieliejaepien åarjelsaemien lohkeme. Mov mïelen mietie dle nåake laavenjostoe dej skuvli gaskem mah ööhpehtieh åarjelsaemien gïelesne gosse lea learoevierhtiej bïjre.</p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <h3>&nbsp;</h3>
        </div>
    </div>


</div>

{% endblock %}


